<section aria-labelledby="about-the-author-heading" role="region" id="about-the-author" class="content-wrapper">
    <div class="standard-width">
        <h2 id="about-the-author-heading">Josh Carpenter</h2>
        <div id="photo">
            <img src="img/josh-2.png" alt="Josh Carpenter" />
        </div>
        <div id="bio">
            <p class="body-text">
                I'm a user experience designer based in Vancouver, Canada. Most recently I led design teams at Google and Mozilla working to bring virtual and augmented reality to the open web. My background is a mix of interaction design, visual design, motion graphics, programming and community engagement. <a href="https://en.wikipedia.org/wiki/The_Hedgehog_and_the_Fox">A fox&#8212;not a hedgehog</a>. Since 2019 I've been taking time off to travel, start a family, and work on a series of personal projects, including an Electron-based Markdown editor and a deep dive into climate change.
                {# I'm a user experience designer, based in Vancouver, Canada. Currently I am focused on  learning more about climate change, and building a Markdown editor. Most recently I led design teams at <a href="https://www.google.com/" target="_blank">Google</a> and <a href="https://www.mozilla.org/" target="_blank">Mozilla</a>, working to bring virtual and augmented reality to the open web. #}
            </p>
            {# <address>
                <a href="https://twitter.com/{{ bio.twitter }}">Twitter</a>
                <span class="divider">|</span>
                <a href="{{ bio.github }}">GitHub</a>
                <span class="divider">|</span>
                <a href="{{ bio.linkedin }}">LinkedIn</a>
            </address> #}
        </div>
    </div>
</section>