<section aria-labelledby="about-the-author-heading" role="region" id="about-the-author" class="thick-border">
    <h2 class="hidden" id="about-the-author-heading">About the author</h2>
    <p>I'm a user experience designer, currently focused on better understanding climate change. Most recently I worked at <a href="https://www.google.com/" target="_blank">Google</a> and <a href="https://www.mozilla.org/" target="_blank">Mozilla</a>, leading design teams focused on virtual and augmented reality, and the web. I'm based in Vancouver, Canada.</p>
</section>