<section aria-labelledby="about-the-author-heading" role="region" id="about-the-author" class="content-wrapper">
    <div class="standard-width">
        {# <h2 id="about-the-author-heading">Josh Carpenter</h2> #}
        <div id="photo">
            <img src="/img/josh-4.jpg" alt="Josh Carpenter" />
        </div>
        <div id="bio">
            <p>
                <span class="tag">Hello!</span> I'm a Staff UX Designer for Google Maps, based in Vancouver, Canada. Previously I led design teams at Google and Mozilla working to bring virtual and augmented reality to the open web. Since 2019 I've been traveling and working on a series of personal projects, including an Electron-based Markdown editor and a deep dive into climate change. 
            </p>
            <address>
                <a href="https://twitter.com/{{ bio.twitter }}">Twitter</a>
                <span class="divider">|</span>
                <a href="{{ bio.github }}">GitHub</a>
                <span class="divider">|</span>
                <a href="{{ bio.linkedin }}">LinkedIn</a>
                <span class="divider">|</span>
                <a href="/pdf/JoshCarpenter-Resume-2022.pdf">Resume</a>
            </address>
        </div>
    </div>
</section>