<footer role="contentinfo" class="content-wrapper">
    <small class="standard-width">Copyright © {{ page.date | date("YYYY") }}, {{ bio.name }}. {# Made with <a href="https://www.11ty.dev/">Eleventy</a>.#}</small>
</footer>