<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{# Do NOT interpret number sequences as phone numbers, on mobile devices. #}
<meta name="format-detection" content="telephone=no">

{# Use frontmatter `meta_title`. Else, fallback. #}
<title>{{ meta_title or "Josh Carpenter - Portfolio & Notes" }}</title>

{# Use frontmatter `summary`. Else, fallback. #}
<meta name="description" content="{{ summary or 'Design portfolio, projects, and notes of Josh Carpenter, UX designer. Currently learning about climate change and creating a Markdown editor. Previously: UX Lead for WebVR/AR at Google, lead of the Mozilla WebVR team, co-creator of the A-Frame VR web development framework, and interaction design lead for Firefox OS. Lives in Vancouver, Canada' }}">

<meta name="color-scheme" content="dark light">

{# Hide post from SEO if front matter `tags` includes 'hide' #}
{% if tags and tags.includes("hide") %}
    <meta name="robots" content="noindex">
{% endif %}

<!-- Social -->
<meta property="og:title" content="{{ meta_title or 'Josh Carpenter - Portfolio & Notes' }}">
<meta property="og:type" content="{{ meta_type or 'article' }}">
<meta property="og:url" content="https://joshcarpenter.ca{{ page.url }}">

{# Use frontmatter `summary`. Else, fallback. #}
<meta property="og:description" content="{{ summary or 'Design portfolio, projects, and notes of Josh Carpenter, UX designer. Currently learning about climate change and creating a Markdown editor. Previously: UX Lead for WebVR/AR at Google, lead of the Mozilla WebVR team, co-creator of the A-Frame VR web development framework, and interaction design lead for Firefox OS. Lives in Vancouver, Canada' }}">
{# 
    Initial og:image is set by frontmatter `meta_image` property.
    It's then updated to a full working URL on joshcarpenter.ca
    by the set-og-image.js transform, and corresponding width and 
    height meta tags are added.
#}
<meta property="og:image" content="{{ meta_image }}">
<meta property="og:updated_time" content="{{ page.date | date("YYYY-MM-DD") }}">
<meta property="article:modified_time" content="{{ page.date | date("YYYY-MM-DD") }}">
<meta property="og:site_name" content="Josh Carpenter, Portfolio & Notes">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="{{ meta_twitter_card_type or 'summary_large_image' }}">
<meta name="twitter:site" content="@{{ bio.twitter }}">
<meta name="twitter:creator" content="@{{ bio.twitter }}">

{#
<!-- Favicon -->
<!-- 3rd-gen iPad w/ Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/TODO.png">
<!-- iPhone w/ Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/TODO.png">
<!-- 1st-and 2nd-gen iPad: --> 
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/TODO.png">
<!-- Non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="/img/TODO.png">
<!-- Basic favicon -->
<link rel="shortcut icon" href="/img/TODO.png">
#}

<!-- Fonts preload -->
<link rel="preload" href="/fonts/Inter-Bold.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/Inter-Italic.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/Inter-Light.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/Inter-Medium.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/Inter-SemiBold.woff2" as="font" type="font/woff2">

<!-- Styles -->
<link rel="stylesheet" href="/styles/main.css">
{# <link rel="stylesheet" href="/styles/prism/prism-material-oceanic.css"> #}

{# 
Include files specified in front matter 'css' array of strings.
This lets us include CSS on per-post basis, if desired.
E.g. Styling for a visualization that only appears in a Covid post.
#}
{% for file in css %}
    <link rel="stylesheet" href="/styles/{{ file }}">
{% endfor %}

{# 
Set color variables based on front matter values,
if any have been specified. Enables us to set accent
colors on a per-template basis.
E.g. Use red color for the A-Frame portfolio post.
#}
{% if colors %}
    <style type="text/css">
        :root {
            {% if colors.accent.light %}
                --accent: {{ colors.accent.light }};
            {% endif %}
        }

        :root body.force-dark-mode {
            {% if colors.accent.dark %}
                --accent: {{ colors.accent.dark }};
            {% endif %}
        }

        @media screen and (prefers-color-scheme: dark) {
            :root {
                {% if colors.accent.dark %}
                    --accent: {{ colors.accent.dark }};
                {% endif %}
            }
        }
    </style>
{% endif %}

<!-- Scripts -->
<script src="/js/toggle-color-scheme.js"></script>
{# <script src="/js/crop-to-grid.js"></script> #}

{# 
We can define js files on a template-by-template basis
using the `js` frontmatter property. It takes an object
with `file` path and `isModule` boolean.
#}
{% for script in js %}
    <script {% if script.isModule%}type="module" {% endif %}src="/js/{{ script.file }}"></script>
{% endfor %}