<header role="banner">

    {# Logo #}
    <h2>
        <a href="/">{{ josh.name }}</a>
    </h2>

    {# Simple links #}

    <button id="hamburger">
        <img src="/img/menu-black.svg">
    </button>

    <nav id="top" role="navigation" aria-label="Top-level">
        <ul>
            <li class="hidden">
                <a href="/climate" tabindex="0">Home</a>
            </li>
            <li>
                <a href="/climate" tabindex="0">Climate</a>
            </li>
            <li>
                <a href="/design" tabindex="0">Design</a>
            </li>
            <li>
                <a href="/blog" tabindex="0">Blog</a>
            </li>
            <li>
                <a href="/about" tabindex="0">About</a>
            </li>
        </ul>
    </nav>

    {# <nav id="side" role="navigation">
        <ul>
            <li>
                <a href="/climate">Climate</a>
            </li>
            <li>
                <a href="/design">Design</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
        {% if tags and tags.includes("climate") %}

            <h2 role="none presentation" class="thick-border">
                <a href="/climate">Climate</a>
            </h2>

            <h3 role="none presentation">Impacts</h3>

            <ul>
                {%- for post in collections.climateImpacts -%}
                    <li {% if page.url == post.url %} class="active" {% endif %}>
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </li>
                {%- endfor -%}
            </ul>

            <h3 role="none presentation" class="">Canada</h3>
            <ul>
                {%- for post in collections.climateImpactsCanada -%}
                    <li {% if page.url == post.url %} class="active" {% endif %}>
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </li>
                {%- endfor -%}
            </ul>

            <h3 role="none presentation" class="">Solutions</h3>
            <ul>
                {%- for post in collections.climateSolutions -%}
                    <li {% if page.url == post.url %} class="active" {% endif %}>
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </li>
                {%- endfor -%}
            </ul>

            <h3 role="none presentation" class="">Resiliency</h3>
            <ul>
                {%- for post in collections.climateResiliency -%}
                    <li {% if page.url == post.url %} class="active" {% endif %}>
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </li>
                {%- endfor -%}
            </ul>

            <h2 class="thick-border">Other posts</h3>
            <ul>
            {%- for post in collections.other -%}
                <li {% if page.url == post.url %} class="active" {% endif %}>
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                </li>
            {%- endfor -%}
            </ul> 

        {% endif %}
    </nav> #}

</header>