<header>
    <h1>{{ josh.name }}</h1>
    <address>
        Product Designer<br>
        Vancouver, Canada<br>
        <a href="mailto:{{ josh.email }}">{{ josh.email }}</a>
    </address>
    <nav>
        <ul>
            <li>
                <a href='#'>Design</a>
            </li>
            <li>
                <a href='#'>Climate</a>
            </li>
            <li>
                <a href='#'>About</a>
            </li>
        </ul>
    </nav>
</header>