<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}{{ titleSuffix }}</title>
{% if summary %}
    <meta name="description" content="{{ summary }}">
{% endif %}
<meta name="dcterms.date" content="{{ modified }}"/>
{# <meta name="robots" content="noindex"> #}
{% if tags and tags.includes("hide") %}
    <meta name="robots" content="noindex">
{% endif %}

<!-- Social -->
<meta property="og:type" content="{{ type }}">
<meta property="og:title" content="{{ title }}{{ titleSuffix }}">
<meta property="og:url" content="https://joshcarpenter.ca{{ url}}">
{% if summary %}
    <meta property="og:description" content="{{ summary }}">
{% endif %}
{# {% if image %}
    <meta property="og:image" content="/img/{{ image }}">
{% else %}
    <meta property="og:image" content="/img/{{ image }}">
{% endif %} #}
<meta property="og:updated_time" content="{{ modified }}">
<meta property="article:modified_time" content="{{ modified }}">
<meta property="og:site_name" content="{{ josh.name }}">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ josh.twitter }}">
<meta name="twitter:creator" content="@{{ josh.twitter }}">

{#
<!-- Favicon -->
<!-- 3rd-gen iPad w/ Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/TODO.png">
<!-- iPhone w/ Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/TODO.png">
<!-- 1st-and 2nd-gen iPad: --> 
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/TODO.png">
<!-- Non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="/img/TODO.png">
<!-- Basic favicon -->
<link rel="shortcut icon" href="/img/TODO.png">
#}

<!-- Styles -->
{% for file in css %}
    <link rel="stylesheet" href="/styles/{{ file }}">
{% endfor %}

<!-- Scripts -->
{% for script in js %}
    <script {% if script.type == 'module'%}type="module" {% endif %}src="/js/{{ script.file }}"></script>
{% endfor %}