<div id="lightbox" aria-label="Gallery" role="dialogue" aria-modal="true" aria-live="polite" aria-hidden="true">
    <button id="close" aria-label="Close gallery"><img src="/img/close.svg" alt="Close"></button>
    <button id="prev" aria-label="Previous"><img src="/img/arrow.svg" alt="Previous"></button>
    <button id="next" aria-label="Next"><img src="/img/arrow.svg" alt="Next"></button>
    
    {# We populate this list with items #}
    <ul tabindex="-1">
    </ul>

    <span tabindex="0" class="visibility-hidden" id="end">End of gallery</span>
    <div id="background"></div>
</div>