<header class="content-wrapper">
    <div class="standard-width grid-12">
        <h1>
            <a href="/index.html" class="name">{{ bio.name }}</a>
            <span class="slash">&#47;</span>
            {% if tags and tags.includes("climate") %}
                <a href="/#posts" class="section">Post</a>
            {% elseif tags and tags.includes("ux") %}
                <a href="/#portfolio" class="section">Portfolio</a>
            {% elseif tags and tags.includes("project") %}
                <a href="/#projects" class="section">Project</a>
            {% endif %}
        </h1>
    </div>
</header>