<aside id="research-note-preface" class="wip">
    You're reading my notes on COVID-19. I'm writing these to try to better understand the crisis, and to gather useful facts and resources for friends and family. <span class="wip">These notes are work-in-progress, and not exhaustive. Rely on official links and resources for comprehensive information.</span>
</aside>