<section aria-labelledby="preface-heading" role="note" id="preface" {% if tags.includes("wip") %}class="wip"{% endif %}>
    <h2 class="hidden" id="preface-heading">Preface</h2>
    You're reading <button aria-label="Footnote" id="testBtn">fn</button>one of my <a href="/climate/">climate research notes</a>. These are byproducts of my attempts to learn about climate change topics, e.g. <a href="/posts/storms/">storms</a> and <a href="/posts/dematerialization/">dematerialization</a>.{% if tags.includes("wip") %} <span class="wip">This note is a work-in-progress.</span>{% else %} Some notes are comprehensive summaries, but most are brief and/or incomplete.{% endif %}
</section>