<nav id="related-content" aria-labelledby="more-climate-notes" class="thick-border">
    <h2 id="more-climate-notes">More climate notes</h2>
    {# <h2 id="more-climate-notes"><a href="/climate">More climate notes</a></h2> #}
    <ul>
        {%- for post in collections.climate -%}
            {% if page.url != post.url and post.data.highlight %}
                <li>
                    <a href="{{ post.url }}" class="title">{{ post.data.title }}</a>
                    {# <ul id="tags">

                        {% if tags.includes("problem") %}
                            {% if tags.includes("canada") %}
                                <li class="tag">
                                    <a href="">Impacts (Canada)</a>
                                </li>
                                {%else%}
                                <li class="tag">
                                    <a href="">Impacts</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul> #}

                    <p>
                        {% if post.data.summary %}
                            {{ post.data.summary }}
                        {% else %}
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        {% endif %}
                    </p>
                </li>
            {% endif %}
        {%- endfor -%}
    </ul>
</nav>