---js
{
    title: "The Composable 3D Web",
    tags: ["ux"],
    publish: true,
    image: "img/composable-3D/composable-3D-meta-1.png",
    summary: "Product and user experience for a project at Google to define new composable and declarative 3D building blocks for the web platform, chief among them a model element.",
    permalink: "/composable-3d-web/",
    year: 2017,
    force_dark_mode: false
}
---

{# ------------ Header ------------ #}

<header class="standard-width grid-12">
    <h1 id="title">{{ title }}</h1>
    <div class="intro large-text">
        <p>
            The goal of this Google project was to define new composable and declarative 3D building blocks for the web platform, chief among them a &#60;model&#62; element. I was UX and Product lead, working with a multi-disciplinary team ^[<a href="https://gordonbrander.com">Gordon Brander</a>, <a href="https://twitter.com/jsantell">Jordan Santell</a>, <a href="https://twitter.com/0xcda7a">Chris Joel</a>, and <a href="https://www.syedrezaali.com/">Reza Ali</a>, plus contributions from <a href="https://www.linkedin.com/in/max-rebuschatis-b7963532/">Max Rebuschatis</a>.], and creating prototypes, specifications, and visualizations. Our work culminated in the release of <a href="https://modelviewer.dev/">model-viewer</a>, an open source solution for adding interactive 3D models to websites. Meanwhile the dream of a &#60;model&#62; element for the web lives on in <a href="https://github.com/WebKit/explainers/tree/main/model">this proposal</a> from Apple.
        </p>
    </div>
    <div class="metadata small-text">
        <time>2017-19</time>, <span class="role">Google</span><br>
        Product Management<br>
        Interaction Design<br>
        Visual Design<br>
        Prototyping<br>
    </div>
</header>


{# ------------ Body ------------ #}

<section id="body" class="standard-width copy" aria-label="Article body">    


    {# ----- Discovery ----- #}

    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/city-discovery.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/city-discovery.mp4" type="video/mp4"></source>
        </video>
    </div>

    <div class="grid-12 body-text">
        <p class="cols-left-half">
            In these "city" animations I tried to paint a picture of the future we envisioned: walking through a sea of information, pinned to the world around us, discovered serendipitously, accessed instantly, from a wide variety of devices, published by anyone, potentially dangerous if placed in the wrong location, etc. 3D modeling, animation and rendering were done in Cinema 4D, and passes then composited in After Effects. These animations proved surprisingly helpful at framing our discussions inside and outside the team.
        </p>
    </div>

    {# <div class="grid-12 no-row-gap">
        <div class="cols-all lg-mb-large">
            <video playsinline autoplay loop muted>
                <source src="video/city-discovery.webm" type="video/webm; codecs=vp9,opus"></source>
                <source src="video/city-discovery.mp4" type="video/mp4"></source>
            </video>
        </div>
        <div class="cols-left-right-split">
            <p class="caption small-text mb-medium lg-mb-zero">
                A vision of the future: Animations created in Cinema 4D and After Effects.
            </p>
            <p class="body-text">
                In these "city" animations I tried to paint a picture of the future we envisioned, both good and bad: walking through a sea of information, pinned to the world around us, discovered serendipitously, accessed instantly, from a wide variety of devices, published by anyone, potentially dangerous if placed in the wrong location, etc. Modelinig, animation and rendering were done in Cinema 4D, and passes then composited in After Effects.
            </p>
        </div>
    </div> #}


    {# ----- Bus stop ----- #}

    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/city-busstop-hud.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/city-busstop-hud.mp4" type="video/mp4"></source>
        </video>
    </div>

    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/city-busstop-phone.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/city-busstop-phone.mp4" type="video/mp4"></source>
        </video>
        <p class="caption small-text">Content will need to be accessible to all users, regardless of device.</p>
    </div>

    {# <div class="grid-12 no-row-gap">
        <div class="cols-all mb-small">
            <video playsinline autoplay loop muted>
                <source src="video/city-busstop-hud.webm" type="video/webm; codecs=vp9,opus"></source>
                <source src="video/city-busstop-hud.mp4" type="video/mp4"></source>
            </video>
        </div>
        <div class="cols-all lg-mb-large">
            <video playsinline autoplay loop muted>
                <source src="video/city-busstop-phone.webm" type="video/webm; codecs=vp9,opus"></source>
                <source src="video/city-busstop-phone.mp4" type="video/mp4"></source>
            </video>
        </div>
        <div class="cols-left-right-split">
            <p class="caption small-text">
            The same content, accessible from many devices, from fancy augmented reality headsets to mobile phones.  from Future devices surface geolocated content for us, just in time, and let us access it safely. The web will continue to be for everyone; whether you have a fancy headset or a mobile phone. Pages authored in HTML and CSS will scale responsively across devices, as they do today.
            </p>
        </div>
    </div> #}

    {# ----- Block traffic ----- #}

    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/city-block-traffic.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/city-block-traffic.mp4" type="video/mp4"></source>
        </video>
        <p class="caption small-text">Controlling where and how content renders will be critical.</p>
    </div>

    {# <div class="grid-12 no-row-gap">
        <div class="cols-all lg-mb-large">
            <video playsinline autoplay loop muted>
                <source src="video/city-block-traffic.webm" type="video/webm; codecs=vp9,opus"></source>
                <source src="video/city-block-traffic.mp4" type="video/mp4"></source>
            </video>
        </div>
        <div class="cols-left-right-split">
            <p class="caption small-text">
                Low friction requires high trust. If we want a world where we can access content from random third parties instantly, and load it into the world around us, we'll need extremely robust tools for protecti ng our personal space. Ad block for the metaverse.
            </p>
        </div>
    </div> #}


    {# ----- Furniture: VR ----- #}

    <div class="grid-12 body-text">
        <p class="cols-left-half">
            Most of my time was spent exploring how a &#60;model&#62; element and new 3D CSS properties might work. I created a series of animations (below) and prototypes (not shown) which played with, among other things: cropping when models exceeded their bounding boxes; responsive interfaces across mobile, VR, and AR; coordinate systems; and real world use cases. Most of the animations were created in Cinema 4D. I made heavy use of the built-in scripting engine, XPresso, to help automate otherwise laborious manual keyframing. It enabled me to build complex hierarchies of interconnected animation values, exposed as simple custom sliders and toggles.
        </p>
    </div>

    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/model-furniture-vr-firstperson.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/model-furniture-vr-firstperson.mp4" type="video/mp4"></source>
        </video>
        <p class="caption small-text">Rendering &#60;model&#62; elements with depth on VR browsers.</p>
    </div>


    {# ----- Furniture: Mobile & Desktop ----- #}

    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/model-furniture-mobile-and-desktop.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/model-furniture-mobile-and-desktop.mp4" type="video/mp4"></source>
        </video>
        <p class="caption small-text">Perspective could shift as the user scrolls on mobile and desktop.</p>
    </div>

    {# <div class="grid-12 no-row-gap">
        <div class="cols-all lg-mb-large">
            <video playsinline autoplay loop muted>
                <source src="video/model-furniture-interoperability.webm" type="video/webm; codecs=vp9,opus"></source>
                <source src="video/model-furniture-interoperability.mp4" type="video/mp4"></source>
            </video>
        </div>
        <div class="cols-left-right-split">
            <p class="caption small-text mb-medium lg-mb-zero">
                Rendering the &#60;model&#62; element with depth, whether on a VR browser, or a flat mobile display. We can imagine the perspective shifting as the user scrolls. Perhaps enabled by a property on the element, akin to `autoplay` on media elements. A property that could be disabled globally in browser preferences, for users who experience feelings of motion sickness from parallax effects.
            </p>
            <p class="body-text">            
                The enabling crux of our vision was a <code>&#60;model&#62;</code> element and new CSS properties. We envisioned these would make it relatively easy for existing web developers to add 3D to their sites. You probably wouldn't use these tools to create rich 3D immersive worlds&#8212;that was what low level graphics APIs like WebGL were for&#8212;but they would be ideal for presenting media and information; the web's bread and butter.
            </p>
        </div>
    </div> #}

    {# ----- Furniture: AR ----- #}

    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/model-furniture-ar.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/model-furniture-ar.mp4" type="video/mp4"></source>
        </video>
        <p class="caption small-text">Viewing a &#60;model&#62; in mobile augmented reality</p>
    </div>


    {# ----- Car configurator ----- #}

    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/model-carconfig.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/model-carconfig.mp4" type="video/mp4"></source>
        </video>
        <p class="caption small-text">Moving and panning a &#60;model&#62; in VR</p>
    </div>

    {# ----- Model coordinates ----- #}

    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/model-coordinates.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/model-coordinates.mp4" type="video/mp4"></source>
        </video>
        <p class="caption small-text">Exploring &#60;model&#62; coordinates and clipping</p>
    </div>

    {# ----- C4D rig ----- #}

    <div>
        <img src="img/composable-3D/c4d-rig.png" data-lightbox></img>
        <p class="caption small-text">Using XPresso in Cinema 4D to help simplify complex animations</p>
    </div>

    {# ----- Remix everything ----- #}


    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/model-remix-everything.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/model-remix-everything.mp4" type="video/mp4"></source>
        </video>
        <p class="caption small-text">Playing with the idea of remixable models</p>
    </div>

    {# ----- News ----- #}

    <div>
        <video playsinline autoplay loop muted data-lightbox>
            <source src="video/composable-3D-layout.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/composable-3D-layout.mp4" type="video/mp4"></source>
        </video>
        <p class="caption small-text">Exploring layouts made with models and 3D transforms.</p>
    </div>

    {# ----- News ----- #}

    {# <div>
        <video playsinline autoplay loop muted>
            <source src="video/composable-3D-news.webm" type="video/webm; codecs=vp9,opus"></source>
            <source src="video/composable-3D-news.mp4" type="video/mp4"></source>
        </video>
        <p class="caption small-text">Early explorations of responsive design with CSS 3D transforms</p>
    </div> #}

</section>