---js
{
    title: "Home Automation",
    tags: ["ux"],
    publish: true,
    meta_image: "/img/ns/home/meta.png",
    summary: "Touch interface for controling home security, lighting, media, heating, and more. Designed 2010-2011 while I was Creative Director for Vancouver-based New Space Technologies.",
    permalink: "/home-automation/",
    year: 2010,
    accent_override: {
        light: "236, 161, 0", // Yellow
        dark: "236, 161, 0" // Yellow
    }
}
---

{# ------------ Header ------------ #}

<header class="standard-width grid-12">
    <h1 id="title">{{ title }}</h1>
    <div class="intro">
        <p>
            Touch interface for high-end residential control system. At the time, home automation systems were notoriously difficult to use. Our goal was to create a next-generation interface that was both attractive and easy to use. The finished system ran on <a href="https://www.crestron.com">Crestron</a> stack, and was controlled from iOS apps. I particularly enjoyed creating the skeumorphic (pre-iOS 7) icons.
        </p>
    </div>
    <div class="metadata">
        <time>2010</time>, <span class="role">New Space</span><br>
        Interaction Design<br>
        Visual Design<br>
        Marketing<br>
    </div>
</header>


{# ------------ Body ------------ #}

<section id="body" class="standard-width" aria-label="Article body">    

    {# ----- iPhone ----- #}

    <div class="grid-2 mb-small">
        <div class="sm-p-small" style="background: #E1E1E1" data-lightbox>
            <img src="/img/ns/home/iphone-lights.jpg"></img>
        </div>
        <div class="sm-p-small" style="background: #E1E1E1" data-lightbox>
            <img src="/img/ns/home/iphone-security.jpg"></img>
        </div>
        <div class="sm-p-small" style="background: #E1E1E1" data-lightbox>
            <img src="/img/ns/home/iphone-ipod.jpg"></img>
        </div>
        <div class="sm-p-small" style="background: #E1E1E1" data-lightbox>
            <img src="/img/ns/home/iphone-lights.jpg"></img>
        </div>
    </div>


    {# ----- iPad ----- #}

    <figure style="padding: 2vw 6vw; background: #E1E1E1" data-lightbox>
        <img src="/img/ns/home/ipad-systems.jpg"></img>
    </figure>

    <p>
        The interface was subsequently packaged as an end-to-end control solution for condos, under the name New Space Core. I rebranded the company (logo, website, etc) then created the Core marketing campaign, from copy to collateral design.
    </p>

    {# ----- New Space Core ----- #}

    <div class="grid-2">
        <img src="/img/ns/home/core-hometheatre.jpg" data-lightbox></img>
        <img src="/img/ns/home/core-yourhome.jpg" data-lightbox></img>
        <img src="/img/ns/home/core-control.jpg" data-lightbox></img>
        <img src="/img/ns/home/core-platform.jpg" data-lightbox></img>
    </div>

</section>