@use "mixins-and-functions" as *;

/* 
========================================================
ABOUT THE AUTHOR
========================================================
*/

#about-the-author h2 {
  flex-basis: 100%;
  color: accent(1);
  font-weight: 500;
  margin-bottom: 1rem;

	@include baselineShiftTypography(
		$fontSize: 1.333rem, 
		$lineHeight: 2rem
	);
}

#about-the-author > div {
  @include topBorder(accent(1));
  margin-top: calc(var(--large-margin) * 2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: visible !important;
  margin-bottom: var(--large-margin);
}

#about-the-author #photo {
  margin: 0 4rem 2rem 0;
  // flex: 0 0 auto;
  
  img {
    border-radius: var(--media-border-radius);
    width: 12rem;
    height: 12rem;
    background-color: accent(0.1);
  }
}

#about-the-author #bio {  
  p {
    max-width: 66ex;
    padding-top: 0 !important;
  }
}

