@use "mixins-and-functions" as *;

/* 
========================================================
Figure: Layout
========================================================
*/

// Default figures:
// Under 500px:
// - Figure is 100% full width of screen.
// - Captions align with standard-width content.
// - Media is not rounded (we want it flush with edges).
// Over 500px:
// - Figure and caption align with standard-width
//   content.
// - Media is rounded
#content figure {

    padding-top: 1rem;
    margin: 0 0 2rem;

    height: auto;
    width: 100%;

    // Under 500px: Add margin to figcaption
    // to align it with standard-width content.
    figcaption { 
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    // No rounding
    img, video, iframe, picture { border-radius: 0; }
    
    // Over 500px: 
    @media (min-width: 500px) {

        // Round media elements
        > img, video, iframe, picture { border-radius: var(--figureBorderRadius); }

        min-width: 20rem;
        max-width: 42rem;
        
      figcaption {
          margin-left: 0;
          margin-right: 0;
      }
    }
}

// Wide figures:
// Under 500px: 
// - Same behaviour as default figures (see above).
// Over 500px: 
// - Figure can expand wider than
// - Caption remains aligned.
// Over 750px:
// - Media is rounded
.wide-images #content figure {

    @media (min-width: 500px) {

        // Still no rounding
        // We need to declare this to override default
        img, video, iframe { border-radius: 0; }
        
        min-width: 20rem;
        max-width: 66rem;

        figcaption {
            margin-left: auto;
            margin-right: auto;
            min-width: 20rem;
            max-width: 42rem;
        }
    }
    
    @media (min-width: 750px) {
        > img, video, iframe, picture { border-radius: var(--figureBorderRadius); }
    }
}

/* 
========================================================
Figure: Media
========================================================
*/

#content figure {
    img, video, iframe, picture {
    
        // Ensure media container expands to fit parent container.
        width: 100%;
        max-width: 100%;
        height: auto;

        // Remove gap below media elements by changing them 
        // from display inline to block.
        display: block;
        
        // Add box-shadow
        box-shadow: 0px 0px 2em rgba(0, 0, 0, 0.05);

        // Ensure media container contents expand to fill the 
        // container. Need to set this because we container will
        // not fit content exactly, because we crop container
        // to fit the grid.
        object-fit: cover;

        transition: outline 250ms;
        outline-color: transparent;

        &:focus-visible {
            @include outline-thin;
            // outline-color: onBackground(0.7);
        }
    }

    // We need to set the aspect-ratio property on the iframe.
    // E.g. <iframe style="aspect-ratio: 4/3" ...>
    iframe {
        margin: 0;
        background-color: black;
    }

    // We need to add overflow:hidden to make border-radius on 
    // picture crop <source> and <img> children.
    picture {
        overflow: hidden;
    }
}


// Add hover states to thumbnails
// article figure img:hover,
// article figure img:focus {
//     border-color: rgba(0, 0, 0, 0.1);
//     box-shadow: 0px 1px 36px -14px rgba(0, 0, 0, 0.175);
//     transform: scale(1.03, 1.03);
//     transition: box-shadow 0.08s, transform 0.08s;
//     transition-timing-function: ease-in;
// }

/* 
========================================================
Figure: Caption
========================================================
*/

#content figcaption {
    font-weight: 500;
    
    // Add hyphenation
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  
    @include baselineShiftTypography(
        $fontSize: fontSize(0.9),
        $lineHeight: 1.8rem,
    );

    margin-bottom: 0rem;

    // Figcaption adds a bit of visual padding to the bottom
    // of the figure. Too much. So we pull up subsequent
    // content to close the gap, for consistency.
    margin-bottom: -1rem;

    color: onBackground(calc(var(--bodyTextAlpha) - 0.25)); 
}


/* 
========================================================
Figure: Lightbox
========================================================
*/

// We add this class to img, picture and video elements.
// Clicking them opens the lightbox.
#content figure .opens-lightbox {
    cursor: pointer;
}
