@use 'mixins-and-functions' as *;

/* 
========================================================
FOOTER
========================================================
*/

body > footer {
    padding: 4rem 2rem 0;
    @include font-smaller;
    background-color: var(--footer);
    @include small-screen {
        padding-left: 0;
        padding-right: 0;
    }
}

body[data-theme='light'] > footer {
    --color: var(--on-background);
    @include links($brightnessShift: true);
    > * {
        opacity: 0.4;
    }
    span {
        filter: brightness(var(--brightness-shift));
    }
}

body[data-theme='dark'] > footer {
    --color: var(--on-background);
    @include links($brightnessShift: false);
    > * {
        opacity: 0.5;
    }

    // span,
    // address {
    //     filter: brightness(1.2);
    // }
}


body > footer > div.standard-width {
    display: flex !important;
    flex-wrap: wrap;
    overflow: hidden;
    padding-bottom: 2rem;
    @include medium-screen {
        padding: 1rem var(--side-margin) 1.5rem !important;
    }
}

body > footer .copyright {
    flex: 1 0 auto;
}

body > footer address {
    white-space: nowrap;

    // Hide address on phone screens.
    // There's not enough room, and I don't like the look
    // of splitting address onto a second line.
    display: none;
    @include small-screen {
        display: inline;
    }

    .divider {
        font-size: 0.8em;
        margin: 0 0.5rem;
        opacity: 0.25;
    }
}
