@use "mixins_and_functions.scss" as *;

/* 
========================================================
FOOTER
========================================================
*/

/* Footer contains copyright info */

body > footer {
    @include standardWidth;
    margin: 0 auto 1rem;
    @media (max-width: 480px) {
        margin-bottom: 0rem;
    }

    small {
        @include baselineShiftTypography($fontSize: fontSize(0.9));
        display: block;
        color: onBackground(0.5);
    }

    a { 
        text-decoration-color: onBackground(0.3); 
    }
    
    a:hover { 
        text-decoration-color: onBackground(0.5); 
    }
}

