@use "mixins-and-functions" as *;

// -------------- grid-helpers.js version -------------- //

.backgroundGrid { 
    --alpha-X: 0.2; 
    --alpha-Y: 0.05; 
}

@include dark {
    .backgroundGrid { 
        --alpha-X: 0.3; 
        --alpha-Y: 0.15; 
    }
}

.backgroundGrid {
    background: 
        // Light horizontal
        repeating-linear-gradient(to bottom, rgba(var(--overlayGrid), 0.1) 0, rgba(var(--overlayGrid), 0.1) 1px, transparent 1px, transparent 1rem),

        // Dark horizontal
        repeating-linear-gradient(to bottom, rgba(var(--overlayGrid), 0.3) 0, rgba(var(--overlayGrid), 0.3) 1px, transparent 1px, transparent 2rem),

        // Vertical
        repeating-linear-gradient(to right, rgba(var(--overlayGrid), var(--alpha-Y)) 0, rgba(var(--overlayGrid), var(--alpha-Y)) 1px, transparent 1px, transparent 1rem);
        
    background-color: transparent;
}

.blockHighlight {
    // background-color: rgba(0, 119, 179, 0.2);
    background-color: rgba(179, 0, 0, 0.2);
}

@include dark {
    .blockHighlight {
        // background-color: rgba(0, 119, 179, 0.2);
        background-color: rgba(var(--overlayGrid), 0.3);
    }    
}


// #btnGrid {
//     position: fixed;
//     top: 2rem;
//     right: 2rem;
//     width: 8rem;
//     height: 2rem;
//     border: 2px solid rgba(0, 0, 0, 0.1);
//     border-radius: 2em;
//     background-color: rgb(239, 239, 239);
//     color: gray;
//     text-transform: uppercase;
//     letter-spacing: 0.1em;
//     /* padding: 0.6em; */
//     box-sizing: border-box;
//     font-weight: 700;
// }

// #btnGrid:hover {
//     background-color: rgb(183, 217, 248);
//     cursor: pointer;
// }

// #btnGrid:focus {
//     outline: 0px solid #fff;
// }



// -------------- Portfolio version (newer) -------------- //

body.portfolio.grid article > section {
    position: relative;
}
  
body.portfolio.grid article > section.grid12::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 60;
pointer-events: none;

outline: 1px solid accent(0.4);

background: 
    // Light horizontal
    repeating-linear-gradient(to bottom, 
    accent(0.05) 0, 
    accent(0.05) 1px, 
    transparent 1px, 
    transparent 1rem),

    // // Dark horizontal
    // repeating-linear-gradient(to bottom, rgba(var(--accent), 0.2) 0, rgba(var(--accent), 0.2) 1px, transparent 1px, transparent 2rem),

    // // Vertical 1rem
    repeating-linear-gradient(to right, 
    accent(0.2) 0, 
    accent(0.2) 1px, 
    transparent 1px, 
    transparent 1rem),
    
    // Dark vertical 8rem
    repeating-linear-gradient(to right, 
    accent(0.2) 0, 
    accent(0.2) 8rem, 
    transparent 8rem, 
    transparent 10rem);

background-color: transparent;

}
