@use "plumber" as *;
@use "mixins_and_functions" as *;

/* 
========================================================
Header
========================================================
*/

/* -------------- Mobile -------------- */

body > header {
    display: flex;
    // font-size: var(--font-sml-1);
    // height: grid(1);
    // margin: grid(1) 0;
    align-items: center;
    // border: 1px solid red;
    @include standardWidth;
    margin: 0 auto;

    // @media (max-width: 1024px) {
    // }
}

body > header h1 {
    flex: 1 0 auto;
    @include plumber(
        $font-size: 1.333,
        $line-height: 2,
        $leading-top: 1,
        $leading-bottom: 0,
        $grid-height: 1rem,
        $baseline: 0.18,
        $use-baseline-origin: false
    )

    // font-size: var(--font-sml-1);
    // font-weight: 600;
    // line-height: grid(1);
    // margin: 0;
    
}

body > header a {
    text-decoration: none;
    a:hover {
        text-decoration: underline;
    }
}

// On narrower screens, keep header aligned with content.


// body > header #hamburger {
//     background: none;
//     border-radius: 0.2rem;
//     border: none;
//     cursor: pointer;
//     flex: 0 1 auto;
//     height: grid(1);
//     margin: 0;
//     padding: 0;
//     width: grid(1);
//     z-index: 11;

//     img {
//         height: 100%;
//         width: 100%;
//         opacity: 0.8;
//     }

//     &:hover,
//     &:focus {
//         @include outline-thin;
//         img {
//             opacity: 1;
//         }
//     }

//     &:active {
//         background-color: rgba(0, 0, 0, 0.1);
//     }

//     &.open {
//         // background-color: rgba(0, 0, 0, 0.1);
//     }
// }

body > header nav {
    display: flex;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100vw;
    z-index: 10;
    transition: visibility 0.3s;

    ul {
        align-items: center;
        background-color: var(--clr-mint-1);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        justify-content: center;
        list-style: none;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: relative;
        transition: opacity 0.3s var(--material-outgoing-accelerated);
    }

    li {
        position: relative;
        // color: var(--clr-mint);
        font-size: var(--font-lg-2);
        margin: grid(0.5) 0;
        opacity: 0;
        transition: opacity 0.2s, transform 0.2s;
        transition-timing-function: var(--material-outgoing-accelerated);
        transform: translate3d(0, 100%, 0);
        letter-spacing: -0.01em;
    }

    &.open {
        visibility: initial;
    
        ul {
            opacity: 1;
            transition: opacity 0.35s var(--material-incoming-decelerated);
        }
    
        li {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition-timing-function: var(--material-incoming-decelerated);
        }
    
        li:nth-child(1) {
            transition-delay: 0s;
        }
    
        li:nth-child(2) {
            transition-delay: 0.1s;
        }
    
        li:nth-child(3) {
            transition-delay: 0.2s;
        }
    
        li:nth-child(4) {
            transition-delay: 0.3s;
        }
    }
}


/* -------------- TODO -------------- */

// @media (min-width: 1080px) {
//     body > header {
//         #hamburger {
//             display: none;
//         }

//         nav#top {
//             display: initial;
//             flex: 0 1 auto;
//             height: initial;
//             position: relative;
//             visibility: initial;
//             width: initial;

//             ul {
//                 background-color: initial;
//                 display: flex;
//                 flex-direction: row;
//                 flex-wrap: nowrap;
//                 flex: 0 1 auto;
//                 opacity: 1;
//                 transition: initial;
//             }

//             li {
//                 font-size: var(--font-sml-1);
//                 margin: 0 grid(0.5) 0 0;
//                 opacity: 1;
//                 padding: 0;
//                 transform: initial;
//                 transition: initial;
//             }

//             li:last-of-type {
//                 margin-right: 0;
//             }
//         }
//     }
// }

/* -------------- Desktop -------------- */

// Move nav to side
// @media (min-width: 900px) {
//     body > header {
//         // background-color: pink;
//         display: block;
//         height: auto;
//         // margin: 0 0 0 grid(1);
//         width: grid(9);
//         // padding: 0;
//         // border: 1px solid red;

//         // h2 {
//         //     font-size: var(--font-lg-2);
//         //     line-height: var(--baseLineHeight);
//         //     margin: 0 0 grid(1) 0;
//         // }

//         // #top {
//         //     display: none;
//         // }

//         // #side {
//         //     display: block;
//         // }
//     }
// }

/* -------------- Site sections -------------- */

#site-sections {
    ul {
        display: flex;
        flex-wrap: nowrap;
        flex: 0 1 auto;
        list-style: none;
        padding: 0;
    }

    li {
        flex: 0 1 auto;
        margin-right: grid(0.5);
    }

    li:last-of-type {
        margin-right: 0;
    }
}

/* -------------- Climate notes -------------- */

body > header #climate-links {
    h2 {
        // line-height: var(--baseLineHeight);
        font-size: var(--font-base-size);
        font-weight: 700;
        margin: grid(1) 0 0 0;
    }

    h2::before,
    h3::before {
        content: none;
    }

    h3 {
        // border-top: 1px solid fore(0.15);
        // line-height: var(--baseLineHeight);
        // padding: grid(0.5) 0 0 0;
        font-size: var(--font-sml-1);
        font-weight: 600;
        margin: grid(0.75) 0 0 0;
    }

    p {
        color: foreground(0.5);
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        /* display: flex; */
        /* flex: 2; */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        overflow: hidden;
        white-space: nowrap;
    }

    // address {
    //     margin: grid(1) 0 grid(2) 0;
    //     font-style: normal;
    // }
}