@use "mixins_and_functions" as *;

#home section {
  @include standardWidth;
  margin: 0 auto 1rem;
}

#home #intro {
  h1 {
    @include baselineShiftTypography(
        $fontSize: fontSize(1.6),
        $paddingTop: 6rem,
        $marginBottom: 1rem
    );
  }

  .hello {
    margin-left: -0.2rem;
  }  

  address {
    @include baselineShiftTypography(
        $paddingTop: 0rem,
        $marginBottom: 0rem,
    );
  }

  .divider {
    font-size: fontSize(0.8);
    color: onBackground(0.3);
    margin: 0 0.1rem;
  }
}


// -------- Links -------- //

#home {
  a {
    text-decoration-color: onBackground(0.4);
  }
  
  a:hover {
    text-decoration-color: onBackground(1);
  }
}


// -------- Lists -------- //

#home h2 {
  @include baselineShiftTypography(
      $fontSize: fontSize(1),
      $paddingTop: 0rem,
      $marginBottom: 0rem
  );
  // --font-size: #{fontSize(1)};
  // --padding-top: 0rem;
  // --margin-bottom: 0;
  font-weight: 600;
}

#home ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  
  li {
    margin: 0;  
  }

  li::before {
    content: none;  
  }
}


// -------- Work History -------- //

// We modify the default table styles slightly

#home {
  table {
    --tableOuterBorderColor: #{onBackground(0.2)};
    --tableInnerBorderColor: #{onBackground(0.2)};
    white-space: nowrap;

    td {
      // Disable rounded corners
      border-radius: 0;
    }
    
    // Remove border from sides
    td:first-of-type {
      padding-left: 0;
      border-left: none;
    }
  
    td:last-of-type {
      padding-right: 0;
      border-right: none;
    }
  }
  
  .org {
    color: onBackground(1);
    font-weight: 500; 
    padding-right: 1rem;
  }
  
  .role {
    width: 100%;
    color: onBackground(0.7);
    overflow: hidden;
    
    .project {
      color: onBackground(0.4);
    }
  }
  
  .year time {
    @include monoFont;
    // font-size: fontSize(0.8);
    // @include baselineShiftTypography(
    //     $fontSize: fontSize(0.8),
    //     // $lineHeight: 1.8rem,
    //     // $marginBottom: 0rem
    // );
    // font-size: fontSize(0.8);
    color: onBackground(0.3);
    border-radius: 0.2rem;

    @media (max-width: 481px) {
      display: none;
    }
  }
}
