@use "plumber" as *;
@use "mixins_and_functions" as *;

#home section {
  @include standardWidth;
  margin: auto;
}

#home h1 {
  margin-top: 3rem;
}

#home #intro address {
  @include plumber(
      $font-size: 1.333,
      $line-height: 2,
      $leading-top: 0,
      $leading-bottom: 2,
      $grid-height: 1rem,
      $baseline: 0.18,
      $use-baseline-origin: false
  );  
}

#home .hello {
  margin-left: -0.2rem;
}

#home .divider {
  @include miniTypography;
  font-size: 1.083rem;
  color: onBackground(0.3);
  margin: 0 grid(0.05);
}

#home ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  
  li {
    margin: 0;  
  }

  li::before {
    content: none;  
  }

  a {
    text-decoration-color: onBackground(0.4);
  }
  
  a:hover {
    text-decoration-color: onBackground(1);
  }
}

#home h2 {
  font-weight: 600;
  @include plumber(
      $font-size: 1.333,
      $line-height: 2,
      $leading-top: 0,
      $leading-bottom: 1,
      $grid-height: 1rem,
      $baseline: 0.18,
      $use-baseline-origin: false
  );
}

#home {
  table {
    --tableBorderColor: #{onBackground(0.2)};
    white-space: nowrap;
    
    td:first-of-type {
      padding-left: 0;
      border-left: none;
    }
  
    td:last-of-type {
      padding-right: 0;
      border-right: none;
    }
  }
  
  .org {
    color: onBackground(1);
    font-weight: 500; 
    padding-right: grid(1);
  }
  
  .role {
    width: 100%;
    color: onBackground(0.7);
    
    .project {
      color: onBackground(0.4);
    }
  }
  
  .year time {
    @include mono-font;
    @include miniTypography;
    font-size: 1.083rem;
    color: onBackground(0.3);
    // background-color: onBackground(0.05);
    // padding: 0 0.25rem;
    border-radius: 0.2rem;
  }
}
