/* ==========================================================================
   Lightbox
   ========================================================================== */

#lightbox {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.15s, bottom 0.15s, opacity 0.15s;
    transition-timing-function: ease-out;
}

#lightbox.show {
    /* display: initial; */
    visibility: visible;
    opacity: 1;
    /* These settings apply when the mouse enters the icon*/
    transition: visibility 0s, opacity 0.1s;
    transition-timing-function: ease-in;
}

/* -------------- image & captions -------------- */

#lightbox {

    #image {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        img {
            z-index: 1;
        }
    }

    #caption {
        flex: 0 1 auto;
        margin-top: var(--grid-half);
        max-width: 64em;
        z-index: 1;
        color: var(--clr-gray-light);
    }
}

/* -------------- modified note styles -------------- */

#lightbox {
    
    .note .icon {
        background-color: var(--clr-gray-dark);
        color: var(--clr-gray-light);
    }

    .note:hover .icon {
        background-color: var(--clr-gray);
    }
}

/* -------------- close & background -------------- */

#lightbox {

    #close{
        position: absolute;
        top: var(--grid);
        right: var(--grid);
        height: var(--grid);
        width: var(--grid);
        margin: 0;
        border-style: none;
        cursor: pointer;
        z-index: 1;
        text-align: center;
        opacity: 0.4;
        
        img { 
            width: 100%;
            height: 100%;
        }
    }

    #close:hover{
        opacity: 1;
    }

    #background{
        background-color: rgba(20, 20, 20, 0.92);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        cursor: default;
    }
}

