// -------------- Colors  -------------- //
// Short-hand concise functions for colors.
// Use like: `color: accent(0.2);`

@function accent($alpha: 1) {
  @return rgba(var(--accent), $alpha);
}

@function background($alpha: 1) {
  @return rgba(var(--background), $alpha);
}

@function blockquote($alpha: 1) {
  @return rgba(var(--blockquote), $alpha);
}

@function caption($alpha: 1) {
  @return rgba(var(--caption), $alpha);
}

@function code($alpha: 1) {
  @return rgba(var(--code), $alpha);
}

@function foreground($alpha: 1) {
  @return rgba(var(--foreground), $alpha);
}

@function sectionDivider($alpha: 1) {
  @return rgba(var(--section-divider), $alpha);
}

@function onBackground($alpha: 1) {
  @return rgba(var(--on-background), $alpha);
}

@function onCode($alpha: 1) {
  @return rgba(var(--on-code), $alpha);
}

@function onPopup($alpha: 1) {
  @return rgba(var(--on-popup), $alpha);
}

@function popup($alpha: 1) {
  @return rgba(var(--popup), $alpha);
}

@function caution($alpha: 1) {
  @return rgba(var(--caution), $alpha);
}


// -------------- Layout  -------------- //

@mixin standardWidth() {
  
  width: 100%;
  display: block;
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);

  @include large-screen { 
    max-width: 96rem;
  }
}


// -------------- Media query: Dark mode  -------------- //

@mixin dark {
	@at-root body[data-theme=dark] & {
		@content;
	}
}

@mixin light {
	@at-root body[data-theme=light] & {
		@content;
	}
}


// -------------- Media Query: Screen Sizes -------------- //

@mixin smaller-screen {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin small-screen {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin medium-screen {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl-screen {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin xxl-screen {
  @media (min-width: 1700px) {
    @content;
  }
}

// -------------- Typography -------------- //

@mixin baselineShiftTypography(
  $fontSize: 1.333rem,
  $lineHeight: 2rem,
  $paddingTop: 0rem,
  $descenderRatio: 0.18, 
  $useMarginInsteadOfPadding: false,
) {

  // descenderRatio = Height of descender, as ratio //
  // Derived from: https://jamonserrano.github.io/plumber-sass/measure/
  // Actually the site says 1.36. But I find I need to set it 
  // higher or I get gradual drift upwards off the grid.

  // Baseline shift formula: //
  
  // We push the text downwards until the baseline sits at the 
  // bottom of the specified line-height. As is standard in
  // typography outside the web.
  
  // We do this by adding 1) the excess space at the bottom of
  // the line-height, between the bottom of the font-size and
  // the bottom of the line-height, and 2) the height of the
  // descender. By applying these to the padding-top, we move
  // the font down so the baseline sits on the bottom of the
  // line-height.

  // Then we also want this block to fit the grid, above and
  // below. At the top, we achieve this simply by all previous
  // blocks also fitting to the grid. At the bottom, we achieve
  // this by subtract the --baseline-offset amount from a 
  // default padding-bottom (1rem). This ensures that the height 
  // of the rendered block will fit to the next grid line.

  --excess-line-height-at-bottom: calc(calc(#{$lineHeight} - #{$fontSize}) / 2);
  --descender-height: calc(#{$fontSize} * #{$descenderRatio});
   
  @if -is-integer($lineHeight) {

    // If line-height is integer (e.g. 2rem), baseline-offset
    // is just the excess line height at bottom of the line,
    // plus the descender height.
    --baseline-offset: calc(var(--excess-line-height-at-bottom) + var(--descender-height));
    
    // If line-height is integer (e.g. 2), we make eleemnt fit to
    // grid, by adding padding-bottom equal to gap between the
    // baseline and the next grid line.
    padding-bottom: calc(1rem - var(--baseline-offset));

  } @else {

    // If line height is NOT an integer (e.g. 1.5rem), 
    // baseline-offset is same as above, PLUS the gap between 
    // the bottom of the line and the start of the next grid line.
    $gap-at-bottom: ceil($lineHeight) - $lineHeight;

    --baseline-offset: calc(var(--excess-line-height-at-bottom) + var(--descender-height) + #{$gap-at-bottom});

    // If line-height is NOT an integer, we accept that the
    // element height will not snap to grid, and we fix with
    // JS after the fact. 
    padding-bottom: 0;
  }
  
  font-size: $fontSize;
  line-height: $lineHeight;
  @if $useMarginInsteadOfPadding {
    margin-top: calc($paddingTop + var(--baseline-offset));
  } @else {
    padding-top: calc($paddingTop + var(--baseline-offset));
    margin-top: 0;
  }
}

// Utility mixin: Reusable declaration for mono fonts.
@mixin monoFont {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
}



// -------------- Misc -------------- //

@mixin outline-thin {
  outline-width: 0.25rem;
  outline-style: solid;
  outline-color: foreground(0.95);
  outline-offset: 0.2rem;
}

@mixin outline-on-focus($widthRem: 0.2, $offsetRem: 0.2, $color: foreground(0.75), $borderRadiusEm: 0.05) {
  
  &:focus-visible {
    outline-width: $widthRem * 1rem;
    outline-offset: $offsetRem * 1rem;
    outline-color: $color;
    outline-style: solid;
    border-radius: $borderRadiusEm * 1em;
    animation: outlineAppear 0.08s ease-in;
  }

  @keyframes outlineAppear {
    from {
      outline-offset: 0.1em;
      outline-color: transparent;
    }
  
    to {
      outline-offset: 0.2em;
      outline-color: $color;
    }
  }
}

// Apply this to `standard-width` elements to create consistent top borders
@mixin topBorder($color: sectionDivider(1)) {
  
  // Top-border
  position: relative;
  padding-top: calc(var(--large-margin) - 1rem);
  
  &::before {
    content: '';
    width: calc(100% - var(--side-margin) * 2);
    left: var(--side-margin);
    height: 2px;
    background-color: $color;
    position: absolute;
    top: 0;
    transition: background-color 0.2s;
  }
}



// -------------- Misc -------------- //

// Check if a value is a non-negative integer
@function -is-integer($value) {
	@return $value == round($value);
}






// -------------- OLD, UNUSED -------------- //

// -------------- Mini  -------------- //

@mixin miniBackgroundGrid {
  // background: repeating-linear-gradient(to bottom, rgba(var(--overlayGrid), 0.1) 0, rgba(var(--overlayGrid), 0.1) 1px, transparent 1px, transparent mini2rem);
  background: repeating-linear-gradient(to bottom, rgba(var(--overlayGrid), 0.1) 0, rgba(var(--overlayGrid), 0.1) 1px, transparent 1px, transparent mini2rem), repeating-linear-gradient(to right, rgba(var(--overlayGrid), 0.1) 0, rgba(var(--overlayGrid), 0.1) 1px, transparent 1px, transparent mini2rem);
}

@mixin dotBackground($dotOpacity: 0.25, $bgOpacity: 0.05) {
  background-image: 
      linear-gradient(accent($bgOpacity), accent($bgOpacity)),
      radial-gradient(accent($dotOpacity) 0.05em, transparent 0);
  background-size: 
      cover,
      0.15em 0.15em;
  background-position: 
      top left,
      top left;
  background-repeat:
      no-repeat,
      repeat; 
}