
@use "mixins-and-functions" as *;

/* 
========================================================
NAVIGATION
========================================================
*/

#navigation {
    margin-bottom: calc(var(--large-margin) + 3rem);
    max-width: initial;
    min-width: initial;
    padding-top: 1rem;
    @include medium-screen {
        padding-top: 2rem;
    }
}

#navigation > div {
    display: flex;
    flex-direction: row
}

#navigation h1 {

    flex: 1 0 auto;
    @include monoFont;
    @include baselineShiftTypography(
        $fontSize: 0.925rem,
        $lineHeight: 1rem,
        $paddingTop: 0,
    );
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.12em;
 
    a {
        transition: color 0.15s, text-decoration-color 0.15s;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.2em;
        text-decoration-color: transparent;
        &:hover {
            color: accent(1);
            text-decoration-color: accent(0.5);
        }
    }

    .slash {
        margin-left: -0.2rem;
        margin-right: -0.2rem;
    }   
  
    .name { color: onBackground(0.5); }
    .slash { color: accent(1); }
    .section { color: onBackground(0.5); }
  
    @include dark {
        .name, .section { color: onBackground(0.87); }
    }
}

// -------------- Dark mode toggle -------------- //

#navigation #toggle-color-scheme {
    position: relative;
    border-radius: 1rem;
    width: 4rem;
    height: 2rem;
    background-color: onBackground(0.08);
    // border: 0.2rem solid onBackground(0.08);

    &:hover #label {
        opacity: 1;
        transition: opacity 0.1s 0.5s;
    }
}

#navigation #toggle-color-scheme #slider  {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    will-change: transform;
    background-color: onBackground(0.2);

    &:not(.dark) {
        // transform: translateX(0) scale(0.7);
        transform: translateX(2rem) scale(0.7);;
    }

    &.dark {
    }
}

#navigation #toggle-color-scheme #label {
    font-size: 1rem;
    color: caption(0.6);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: -1rem;
    transform: translate(-100%, -50%);
    white-space: nowrap;
    transition: opacity 0.1s 0.1s;
    pointer-events: none;
    // border: 1px solid black;
}