@use 'mixins-and-functions' as *;

/* 
========================================================
NAVIGATION
========================================================
*/

#navigation {
    margin-bottom: calc(var(--large-margin) + 3rem);
    max-width: initial;
    min-width: initial;
    padding-top: 1rem;
    @include medium-screen {
        padding-top: 2rem;
    }
}

#navigation > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navigation h1 {
    @include monoFont;
    font-size: 1rem !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    a {
        text-underline-offset: 2px !important;
        text-decoration-thickness: 0.2rem !important;
        text-decoration-color: transparent;
        &:hover {
            color: accent(1) !important;
            text-decoration-color: accent(0.7) !important;
        }
    }

    flex: 1 0 auto;
    margin-bottom: 0;
    padding: 0 !important;

    .slash {
        margin-left: -0.2rem;
        margin-right: -0.2rem;
    }

    .name {
        color: onBackground(0.5);
    }
    .slash {
        color: accent(1);
    }
    .section {
        color: onBackground(0.5);
    }

    @include dark {
        .name,
        .section {
            color: onBackground(0.87);
        }
    }
}
