
@use "mixins-and-functions" as *;

/* 
========================================================
NAVIGATION
========================================================
*/

#navigation {
    margin-bottom: calc(var(--large-margin) + 3rem);
    max-width: initial;
    min-width: initial;
    padding-top: 1rem;
    @include medium-screen {
        padding-top: 2rem;
    }
}

#navigation > div {
    display: flex;
    flex-direction: row
}

#navigation h1 {

    flex: 1 0 auto;
    @include monoFont;
    @include baselineShiftTypography(
        $fontSize: 0.925rem,
        $lineHeight: 1rem,
        $paddingTop: 0,
    );
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.12em;
 
    a {
        transition: color 0.15s, text-decoration-color 0.15s;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.2em;
        text-decoration-color: transparent;
        &:hover {
            color: accent(1);
            text-decoration-color: accent(0.5);
        }
    }

    .slash {
        margin-left: -0.2rem;
        margin-right: -0.2rem;
    }   
  
    .name { color: onBackground(0.5); }
    .slash { color: accent(1); }
    .section { color: onBackground(0.5); }
  
    @include dark {
        .name, .section { color: onBackground(0.87); }
    }
}
