// /* ==========================================================================
//    NOTES
//    ========================================================================== */

a[aria-label="Footnote"] {
    border: 2px solid red;
}

a[aria-label="Footnote"]:hover {
    border: 2px solid green;
}

a[aria-label="Footnote"]:focus {
    border: 2px solid blue;
}

a[aria-label="Footnote"]:active {
    border: 2px solid yellow;
}

// .note {
//     position: relative;
//     margin-left: 0em; // Was 0.2em, but gap was too large.
//     bottom: 0.1em;
// }

// /* -------------- Icon -------------- */
    
// /* Reset Mobile Safari default button styles  */
// .note button  {
//     margin: 0;
//     border-style: none;
// }

// .note .icon {
//     cursor: default;
//     background-color: hsl(0, 0%, 90%);
//     color: hsl(0, 0%, 40%);
//     // border-radius: 0.2em;
//     line-height: 1em;
//     font-size: 0.8em;
//     /* We need to re-declare font-family or Mobile Safari doesn't apply it to buttons :p */
//     font-family: "Public Sans", sans-serif;
// }

// .note:hover .icon, .note .icon:focus  {
//     background-color: hsl(0, 0%, 75%);
//     color: hsl(0, 0%, 10%);
// }

// /* Larger icon for touch devices */
// @media(hover:none) {
//     .note .icon {
//         padding: 0.2em 0.45em;
//     }
// }

// /* Smaller icon for desktop devices */
// @media(hover) {
//     .note .icon {
//         padding: 0.15em 0.25em 0.2em;
//     }
// }

// /* -------------- Blockquote and Figure variations -------------- */

// blockquote .note .icon {
//     background-color: var(--clr-blue-lightestx3);
//     color: var(--clr-blue);
// }

// blockquote .note .popup {
//     font-style: normal;
// }

// blockquote .note .icon:hover, blockquote .note .icon:focus {
//     background-color: var(--clr-blue-lightest);
//     color: inherit;
// }

// /* Figcaption text is smaller, so we set .note to 1em so it's not too small. */
// figcaption .note {
//     font-size: 1em;
// }


// /* -------------- Popup - Shared styles -------------- */

// .note .popup {
//     background-color: hsl(0, 0%, 20%);
//     color: white;
//     white-space: normal;
//     // border-radius: var(--grid-quarter);
//     padding: var(--grid-half);
//     font-size: var(--font-sml-1);
//     line-height: var(--grid-three-quarters);
// }

// /* -------------- Popup - For desktop and larger touch-based devices -------------- */
// /* The popup appears directly below the note.*/
// /* It appears on both hover, and focus. So it works for both accessibility users (e.g. tab between footnotes), and Windows users with hybrid mouse/touch devices (e.g. tap the keynotes) */

// @media(hover), (hover:none) and (min-width: 600px) {

//     .note {

//         --notch-size: 0.6em;

//         .popup {
//             position: absolute;
//             // bottom: -0.7em;
//             left: 50%;
//             z-index: 100;
//             width: 20em;
//             /* Transition settings when mouse exits */
//             visibility: hidden;
//             opacity: 0;
//             transition: visibility 0.1s, bottom 0.1s, opacity 0.1s;
//             transition-delay: 0.1s;
//             transition-timing-function: ease-out;
//         }

//         /* Popup notch */
//         .popup::before {
//             content: '';
//             width: var(--notch-size);
//             height: var(--notch-size);
//             position: absolute;
//             transform: rotate(45deg);
            
//             /* transition: inherit; */
//             background-color: inherit;
//             opacity: inherit;
//         }
//     }

//     .above {
//         .popup {
//             transform: translate(-50%, -100%);
//             top: -0.5em;
//         }

//         .popup::before {
//             bottom: 0;
//             left: 50%;
//             transform: translate(-50%, 50%) rotate(45deg);
//         }
//     }
    
//     .below {
//         .popup {
//             transform: translate(-50%, 100%);
//             bottom: -0.5em;
//         }

//         .popup::before {
//             top: 0;
//             left: 50%;
//             transform: translate(-50%, -50%) rotate(45deg);
//         }
//     }

//     /* 
//     Transition in when:
//     1) Note is hovered.
//     2) Note or child is focused. Button (.icon) will be focused.
//     */
//     .note:hover .popup, 
//     .note:focus-within .popup {
//         visibility: visible;
//         opacity: 1;
//         // bottom: -0.4em;
//         /* These settings apply when the mouse enters the icon*/
//         transition: visibility 0s, bottom 0.05s, opacity 0.05s;
//         transition-delay: 0.1s;
//         transition-timing-function: ease-in;
//     }
    
//     .note:hover .popup a, 
//     .note:focus-within .popup a {
//         text-decoration: underline;
//         color: inherit;
//     }
// }

// /* -------------- Popup — For smaller touch-based devices -------------- */
// /* The popup appears along the bottom of the screen, and a dark overlay covers the rest of the content.*/
// /* TODO: What about Windows devices with both tap and touch? They won't be able to tap. May want to use `@media (pointer:fine)` and `@media (pointer:coarse)` instead? */

// @media(hover:none) and (max-width: 599px) {

//     .note .popup {
//         position: fixed;
//         left: 0;
//         z-index: 100;
//         // border-radius: var(--grid-quarter) var(--grid-half) 0 0;
//         padding: var(--grid-three-quarters);
//         padding-bottom: calc(var(--grid) + var(--grid-quarter));
//         font-size: var(--font-base-size);
//         margin-left: var(--grid-quarter);
//         margin-right: var(--grid-quarter);
//         /* line-height: var(--grid-three-quarters); */
//         line-height: var(--grid);
//         box-shadow: 0px 1px 40px 14px rgba(0, 0, 0, 0.2);
        
//         /* Transition settings to hidden state */
//         /* Don't set visibility until opacity tween is complete.*/
//         bottom: -10em;
//         visibility: hidden;
//         opacity: 0;
//         transition: visibility 0.15s, opacity 0.15s, bottom 0.25s;
//         transition-timing-function: ease-in;
//     }

//     /* Activated */
//     .note:hover .popup {
//         /* Transition settings to visible state.*/
//         /* Set visibility immediately (0s).*/
//         bottom: -0.5em;
//         visibility: visible;
//         opacity: 1;
//         transition: visibility 0s, opacity 0.25s, bottom 0.25s;
//         transition-timing-function: ease-out;
//     }

//     /* Overlay */
//     /* .note .popup::after {
//         content: '';
//         position: fixed;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         right: 0;
//         background-color: rgba(0, 0, 0, 0.5);
//         z-index: -1;
//     } */
// }