// /* ==========================================================================
//    NOTES
//    ========================================================================== */

// @media (hover), (hover: none) and (min-width: 600px) {
//     .fn .popup,
//     #fn-popup {
//         position: absolute;
//         // bottom: -0.7em;
//         left: 0;
//         z-index: 100;
//         width: 20em;
//         transform: translate(-50%, -100%);
//         top: 0;
//     }
// }

// /* ==========================================================================
//    OLD
//    ========================================================================== */

/* -------------- Wrapping span -------------- */

.fn {
    position: relative;
}

/* -------------- Link -------------- */

.fn-link {
    // border-radius: 0.2em;
    background-color: hsl(0, 0%, 90%);
    bottom: 0.1em;
    color: hsl(0, 0%, 40%);
    cursor: default;
    font-size: 0.8em;
    line-height: 1em;
    margin-left: 0em; // Was 0.2em, but gap was too large.
    text-decoration: none;
}

.fn-link:hover,
.fn-link:focus {
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 10%);
}

/* Larger icon for touch devices */
@media (hover: none) {
    .fn-link {
        padding: 0.2em 0.45em;
    }
}

/* Smaller icon for desktop devices */
@media (hover) {
    .fn-link {
        padding: 0.15em 0.25em 0.2em;
    }
}

// /* -------------- Blockquote and Figure variations -------------- */

blockquote {
    .fn-link {
        // background-color: var(--clr-blue-lightestx3);
        // color: var(--clr-blue);
        font-style: normal;
    }

    .fn-popup {
        font-style: normal;
    }

    // .fn-link:hover,
    // .fn-link:focus {
    //     // background-color: var(--clr-blue-lightest);
    //     color: inherit;
    // }
}

/* Figcaption text is smaller, so we set .note to 1em so it's not too small. */
figcaption .fn-link {
    font-size: inherit;
}

/* -------------- Popup -------------- */

.fn-popup {
    background-color: hsl(0, 0%, 20%);
    color: white;
    white-space: normal;
    // border-radius: var(--grid-quarter);
    padding: var(--grid-half);
    font-size: var(--font-sml-1);
    line-height: var(--grid-three-quarters);

    a:hover {
        color: inherit;
    }
}

/* Popup: Desktop and larger touch-based devices */
@media (hover), (hover: none) and (min-width: 600px) {
    
    .fn {
        --notch-size: 0.6em;
        --popup-distance: -0.5em;
        --show: 0.05s;
        --hide: 0.05s;
        --delay: 0.1s;
    }

    .fn-popup {
        position: absolute;
        left: 50%;
        z-index: 100;
        width: 20em;
        // display: none;
        visibility: hidden;
        opacity: 0;
        transition: visibility var(--hide), opacity var(--hide);
        transition-delay: var(--delay);
        transition-timing-function: ease-out;
        /* Notch */
        &::before {
            content: "";
            width: var(--notch-size);
            height: var(--notch-size);
            position: absolute;
            transform: rotate(45deg);
            z-index: -1;
            background-color: inherit;
        }
    }

    .fn-popup.above {
        transform: translate(-50%, -100%);
        // Offset by size of notch, then adjust distance with final value
        top: var(--popup-distance);
        /* Notch */
        &::before {
            bottom: 0.05em;
            left: 50%;
            transform: translate(-50%, 50%) rotate(45deg);
        }
    }

    .fn-popup.below {
        transform: translate(-50%, 100%);
        bottom: -0.5em;
        /* Notch */
        &::before {
            top: 0.05em;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    /*
                                                                                  This is not currently working.
    */
    .fn:focus-within .fn-link[aria-expanded=true] + .fn-popup,
    .fn:hover .fn-popup {
        // display: block;
        opacity: 1;
        visibility: visible;
        transition: visible 0s, opacity var(--show);
        // transition-delay: 0.1s;
        transition-timing-function: ease-in;
    }
}

/* -------------- Popup — For smaller touch-based devices -------------- */
/* The popup appears along the bottom of the screen, and a dark overlay covers the rest of the content.*/
/* TODO: What about Windows devices with both tap and touch? They won't be able to tap. May want to use `@media (pointer:fine)` and `@media (pointer:coarse)` instead? */

@media(hover:none) and (max-width: 599px) {

    .fn-popup {
        position: fixed;
        left: 0;
        z-index: 100;
        // border-radius: var(--grid-quarter) var(--grid-half) 0 0;
        padding: var(--grid-three-quarters);
        padding-bottom: calc(var(--grid) + var(--grid-quarter));
        font-size: var(--font-base-size);
        margin-left: var(--grid-quarter);
        margin-right: var(--grid-quarter);
        /* line-height: var(--grid-three-quarters); */
        line-height: var(--grid);
        box-shadow: 0px 1px 40px 14px rgba(0, 0, 0, 0.2);

        /* Transition settings to hidden state */
        /* Don't set visibility until opacity tween is complete.*/
        bottom: -10em;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.15s, opacity 0.15s, bottom 0.25s;
        transition-timing-function: ease-in;
    }

    /* Activated */
    .fn:hover .fn-popup {
        /* Transition settings to visible state.*/
        /* Set visibility immediately (0s).*/
        bottom: -0.5em;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.25s, bottom 0.25s;
        transition-timing-function: ease-out;
    }

    /* Overlay */
    /* .note .popup::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    } */
}
