@use "mixins_and_functions" as *;


/* 
========================================================
EXPLAINER FORWARD
========================================================
*/

#explainer-forward {
    @include standardWidth;
    position: relative;

    p {
        @include baselineShiftTypography(
            $fontSize: fontSize(1.2),
            $lineHeight: 2rem,
            $paddingTop: 2rem,
            $marginBottom: 2rem
        );
        // --font-size: #{fontSize(1.2)};
        // --line-height: 2rem;
        // --margin-bottom: 3rem;
        font-weight: 600;
        color: onBackground(1);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background-color: onBackground(1);
    }
}


/* 
========================================================
HEADER
========================================================
*/

// Climate posts get some extra styling
.climate #post header {

    position: relative;
    padding-top: 5rem;
    margin-bottom: 1rem;

    time {
        @include baselineShiftTypography(
            $fontSize: fontSize(0.9),
            $lineHeight: 1rem,
            $paddingTop: 0rem,
            $marginBottom: 0rem
        );
        display: block;
        color: onBackground(0.4);
        font-weight: 500;
        // @include monoFont;
    }
}

.ux #post header h1 {
    @include baselineShiftTypography(
        $fontSize: fontSize(1.2),
    );
}


/* 
========================================================
Content
========================================================
*/

// Add padding at end.
#post #content {
    padding-bottom: 2rem;

    // Timeframe span is used at beginning on some posts.
    // E.g. <span class="timeframe">2016</span>
    .timeframe {
        opacity: 0.5;
        // font-size: 0.95em;
        // Push vertical alignment up a few px.
        // Code text is bit smaller than surrounding,
        // So we need to vertically center it.
        line-height: 0;
        vertical-align: 0.05em;
        font-style: normal;
    }

    @media (max-width: 480px) {
        h2, h2 a {
            // --font-size: #{fontSize(1.4)};
            font-weight: 600;
        }
    }   
}


// Add ## before h2:
// - Larger screens only (no room on smaller displays)
// - Normal posts only (NOT short-posts)
@media (min-width: 481px) {

    #post:not(.short-post) h2 {

        position: relative;
    
        &::before {
            content: '##';
            font-weight: 500;
            font-size: fontSize(1);
            color: onBackground(0.5);
            left: -0.5rem;
            transform: translateX(-100%);
            position: absolute;
        }
    }
}


/* 
========================================================
Footnotes
========================================================
*/


#footnotes h2 {
    color: onBackground(1);
}
  

#footnotes ol {

    @include baselineShiftTypography(
        $fontSize: fontSize(0.9),
        $lineHeight: 1.8rem,
        $marginBottom: 0rem
    );
    
    list-style: none;
    column-gap: 2rem;
    padding-left: 0;
    margin: 0;

    // Small devices: 1 column
    // Wider devices: 2 columns
    column-count: 1;
    @media (min-width: 480px) {
        column-count: 2;
    }

    li {
        margin-left: 2rem;
        margin-bottom: 1.8rem;
        /*Do not let contents be broken across columns */
        break-inside: avoid;
        page-break-inside: avoid; /* Firefox */
        color: onBackground(0.65);

        // Numeric marker
        &::before {
            font-size: 0.9em;
            color: primary(1);
        }
    }

    li a {
        font-weight: normal;
        text-decoration: underline;
        border: none;
        color: onBackground(0.85);

        &:hover {
            border: none;
            color: onBackground(0.95); 
        }
    }

    li:last-of-type {
        margin-bottom: 0;
    }

    // Highlight targeted note with a brief flash of
    // background color.
    li:target {
        animation: fadeIn ease-in 2s;
        border-radius: 0.1em;
    }

    @keyframes fadeIn {
        0% {
            color: foreground(0.95);
            background-color: foreground(0.1);
            box-shadow: -0.1em 0 0 0.4em fore(0.1);
        }
        100% {
            color: foreground(0.6);
            background-color: transparent;
            box-shadow: -0.1em 0 0 0em transparent;
        }
    }

    // Reveal back button when user hovers the list item.
    .fn-back {
        text-decoration: none;
        font-size: 0.9em;
        line-height: 1em;
        margin-left: 0.2em;
        opacity: 0;
        transition: opacity 200ms;
        color: onBackground(0.5);
    }
    
    li:hover .fn-back {
        opacity: 1;
    }
}



/* 
========================================================
Related content
========================================================
*/

// TODO: Update for baseline grid system
// #related-content {
//     // font-size: var(--font-sml-1);
//     // line-height: grid(0.75);
//     // background: foreground(0.075);
//     // padding: 2rem;
//     // margin: grid(2) 0 2rem;

//     h2 {
//         // font-size: var(--font-base-size);
//         // font-weight: 700;
//         // margin: 0 0 grid(0.5) 0;
//         // margin: 2rem 0;
//     }

//     a.title {
//         // font-size: var(--font-base-size);
//         font-weight: 700;
//         text-decoration: none;
//         display: inline-block;
//     }

//     .tag a {
//         font-weight: normal;
//         display: inline-block;
//         text-decoration: none;
//     }

//     ul {
//         display: flex;
//         flex-flow: row wrap;
//         justify-content: space-between;
//         list-style: none;
//         padding: 0;
//         margin: 0;
//     }

//     li {
//         width: 32%;
//     }

//     #tags {
//         display: flex;
//     }

//     #tags > li:not(:last-child):after {
//         content: ',';
//         margin-right: 0.25em;
//     }
// }

// #related-content .tag a {
//   color: foreground(0.5);
// }

/* 
========================================================
About the Author
========================================================
*/

#about-the-author {
    @include standardWidth;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem 0;
    color: onBackground();
    text-shadow: 1px 1px 5px background(0.5);
    @include dotBackground(0.1, 0.03);
    
    p { 
        @include baselineShiftTypography(
            $paddingTop: 1rem,
        );
    }
}