/* ==========================================================================
   Post: Headings
   ========================================================================== */

/* -------------- Heading anchor link -------------- */

h2 .anchor {
    display: none;
}

@media (min-width: 680px) {
    h2 .anchor {
        display: inline;
        font-style: normal;
        left: calc(var(--grid-quarter) * -1);
        transform: translate(-100%, 0);
        top: 0;
        position: absolute;
        text-decoration: none;
        text-align: right;
        opacity: 0.3;
    }

    h2 .anchor:hover {
        opacity: 0.8;
    }
}

// // Hide on touch devices
// @media (hover: none) {
//     .anchor {
//         display: none;
//     }
// }

/* ==========================================================================
   Post: Metadata
   ========================================================================== */

article a#category {
    text-decoration: none;
    font-size: var(--font-sml-1);
}

article a#category:hover {
    text-decoration: underline;
}

#metadata::before,
#metadata::after {
    content: "";
    display: block;
}

#metadata::before {
    border-top: 1px solid var(--clr-gray-lighter);
    margin-top: -1px;
    padding-bottom: var(--grid-half);
}

#metadata::after {
    border-bottom: 1px solid var(--clr-gray-lighter);
    margin-bottom: -1px;
    padding-top: var(--grid-half);
}

#metadata {
    color: var(--clr-gray);
    font-size: var(--font-sml-1);
    font-weight: 400;
    font-style: normal;
    margin-bottom: var(--grid);
    line-height: var(--grid-half);

    #tags {
        display: inline-flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .tag {
        // background-color: var(--clr-mint-3);
        background-color: var(--clr-gray-lightest);
        color: var(--clr-gray-dark);
        border-radius: 3px;
        // border: 1px solid var(--clr-gray-lighter);
        display: inline-flex;
        list-style: none;
        padding: var(--grid-quarter);
        margin: 0 var(--grid-quarter) 0 0;
        height: var(--grid);

        a {
            text-decoration: none;
        }
    }

    .tag:hover {
        background-color: var(--clr-gray-lighter);
    }

    .tag.wip {
        background-color: var(--clr-beige);
        border: 1px solid rgba(0, 0, 0, 0.04);
    }

    .tag.wip:hover {
    }

    // #tags {
    //     color: var(--clr-gray-dark);
    //     display: inline-flex;
    //     list-style: none;
    //     padding: 0;
    //     margin: 0;
    //     padding: 0 var(--grid-quarter) 0 0;
    //     border-right: 1px solid var(--clr-gray-light);
    //     margin: 0 var(--grid-quarter) 0 0;

    //     a {
    //         text-decoration: none;
    //     }

    //     a:hover {
    //         text-decoration: underline;
    //     }
    // }

    // #tags > li:not(:last-child):after {
    //     content: ',';
    //     margin-right: 0.25em;
    // }

    address {
        font-style: normal;
        display: inline;
    }

    address a {
        text-decoration: none;
    }

    address a:hover {
        text-decoration: underline;
    }

    address .author {
        display: none;
    }

    @media (min-width: 680px) {
        address .author {
            display: inherit;
        }
    }
}

/* -------------- TODOs -------------- */

span.todo {
    background-color: var(--clr-beige);
    border: 1px solid rgba(0, 0, 0, 0.02);
    padding: 1px 1px 1px 2px;
    border-radius: 2px;
}

/* -------------- Research note preface -------------- */

#preface {
    background: var(--clr-gray-lightest);
    font-size: var(--font-sml-1);
    padding: var(--grid-three-quarters);
    margin-bottom: var(--grid);

    // .wip {
    //     font-weight: 600;
    // }
}

@media (min-width: 680px) {
    #preface {
        padding: var(--grid);
    }
}

/* ==========================================================================
   Post: Copy
   ========================================================================== */

/* -------------- Horizontal rule  -------------- */

article > hr {
    width: 100%;
    height: var(--grid-quarter);
}

/* -------------- Lists  -------------- */
/* TODO: Am currently aligning list markers flush with left side using magic numbers.  */
/* Alternatively I could properly style my one, per: https://css-tricks.com/style-list-markers-css/  */

/* Make list markers flush with body text, by default */
/* ul {
    padding-left: 1em;
}

ol {
    padding-left: var(--grid-three-quarters);
} */

// Set list-style and padding for all top-level lists, and nested child lists
article > ol,
article > ol ul,
article > ol ol,
article > ul,
article > ul ul,
article > ul ol {
    list-style: none;
    padding-left: var(--grid-three-quarters);
}

article > ol {
    counter-reset: custom-counter;

    li {
        counter-increment: custom-counter;
    }
}

//  Style <ol> numbers
article > ol li::before {
    content: counter(custom-counter) ".";
    font-size: 0.9em;
    color: var(--clr-gray);
}

// Style <ul> bullets
article > ul li::before {
    content: "•";
    font-size: 1.8em;
    color: var(--clr-gray-dark);
}

// Position numbers and bullets
article > ol li,
article > ul li {
    position: relative;
}

article > ol li::before,
article > ul li::before {
    position: absolute;
    left: calc(var(--grid-three-quarters) * -1);
}

/* Add more indentation on larger screens */
@media (min-width: 480px) {
    article ul,
    article ol {
        padding-left: calc(var(--grid) + var(--grid-quarter));
    }

    /* article ol li::before, article ul li::before {
        left: calc(var(--grid) * -1);
    } */
}


/* ==========================================================================
   Posts: Related content
   ========================================================================== */

#related-content {
    font-size: var(--font-sml-1);
    line-height: var(--grid-three-quarters);
    // background: var(--clr-gray-lightest);
    // padding: var(--grid);
    // margin: var(--grid-2) 0 var(--grid);

    h2 {
        // font-size: var(--font-base-size);
        // font-weight: 700;
        // margin: 0 0 var(--grid-half) 0;
        // margin: var(--grid) 0;
    }

    a.title {
        // font-size: var(--font-base-size);
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
    }

    .tag a {
        font-weight: normal;
        color: var(--clr-gray);
        display: inline-block;
        text-decoration: none;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        width: 32%;
    }

    #tags {
        display: flex;
    }

    #tags > li:not(:last-child):after {
        content: ",";
        margin-right: 0.25em;
    }
}

/* ==========================================================================
   Posts: About the Author
   ========================================================================== */

#about-the-author p {
    background: var(--clr-gray-lightest);
    padding: var(--grid-three-quarters);
    margin-bottom: 0;
}

/* ==========================================================================
   Posts: Charts
   ========================================================================== */

.chart {
    border: 1px solid var(--clr-gray-lightest);
    background-color: var(--clr-gray-lightestx3);
    margin-bottom: var(--grid);
    width: 100%;
    height: var(--grid-12);
}

@media (min-width: 680px) {
    .chart {
        height: var(--grid-14);
    }
}
