@use "mixins_and_functions" as *;
@use "plumber" as *;

/* 
========================================================
Metadata
========================================================
*/


// #metadata {
    
//     font-size: var(--font-sml-1);
//     font-weight: 400;
//     font-style: normal;
//     margin-bottom: grid(1);
//     line-height: grid(0.5);

//     // Lines above and below
//     &::before,
//     &:after {
//         content: '';
//         display: block;
//         border-style: solid;
//     }

//     &:before {
//         border-width: 1px 0 0 0;
//         margin-top: -1px;
//         padding-bottom: grid(0.5);
//     }

//     &:after {
//         border-width: 0 0 1px 0;
//         margin-bottom: -1px;
//         padding-top: grid(0.5);
//     }
// }

// // Author name
// #metadata address {
//     font-style: normal;
//     display: inline;

//     a {
//         text-decoration: none;
//     }

//     a:hover {
//         text-decoration: underline;
//     }
// }

#metadata {
    border-top: 1px solid onBackground(0.2);
    // border-left: 1px solid onBackground(0.1);
    // border-right: 1px solid onBackground(0.1);
    border-bottom: 1px solid onBackground(0.2);
    
    @include miniTypography(1rem, 0);
    // padding-left: miniGrid(1);
    // padding-right: miniGrid(1);
    margin-bottom: grid(1);
    
    // @include miniBackgroundGrid;
    // background-color: white;

    // Grid
    display: grid;
    grid-template-columns: grid(5) 1fr;
    gap: grid(1);
    #details { grid-column: 1/2; }
    #intro { grid-column: 2/3; }
    
    #details {
        @include mono-font;
        font-size: 0.95rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    #details > * {
        display: block;
    }

    // #intro {
    //     .author-sig {
    //         @include mono-font;
    //         font-size: var(--font-sml-3);
    //         font-size: inherit;
    //         opacity: 0.8;
    //     }
    // }
    
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}


// @media (min-width: 900px) {

//     #metadata {
//         margin-bottom: grid(2);
//     }

//     #metadata #details { 
//         font-size: var(--font-sml-2);
//         line-height: grid(0.75);
//     }

//     #metadata #intro {
//         font-size: var(--font-sml-1);
//         line-height: calc(grid(1) * 0.8);
//     }
// }

// Tags
// #metadata #tags {
//     display: inline-flex;
//     list-style: none;
//     padding: 0;
//     margin: 0;

//     a,
//     span.tag {
//         // background-color: var(--clr-mint-3);
//         background-color: foreground(0.075);
//         color: foreground(0.7);
//         border-radius: 3px;
//         // border: 1px solid fore(0.15);
//         display: inline-flex;
//         list-style: none;
//         padding: grid(0.25);
//         margin: 0 grid(0.25) 0 0;
//         height: grid(1);
//         text-decoration: none;
//     }

//     a:hover,
//     span.tag:hover {
//         background-color: foreground(0.15);
//     }

//     a.wip,
//     span.tag.wip {
//         background-color: var(--clr-beige);
//         border: 1px solid rgba(0, 0, 0, 0.04);
//     }

//     a.wip:hover,
//     span.tag.wip:hover {
//     }
// }

/* -------------- TODOs -------------- */

span.todo {
    background-color: var(--clr-beige);
    border: 1px solid rgba(0, 0, 0, 0.02);
    padding: 1px 1px 1px 2px;
    border-radius: 2px;
}



/* 
========================================================
Content
========================================================
*/

// Set margin-top on first element
#post #content > *:first-child {
    margin-top: grid(0.5) !important;
    // border: 1px solid red;
}

// Add padding at end.
#post #content {
    padding-bottom: grid(1);
}

.timeframe {
    opacity: 0.5;
    font-size: 0.95em;
    // Push vertical alignment up a few px.
    // Code text is bit smaller than surrounding,
    // So we need to vertically center it.
    line-height: 0;
    vertical-align: 0.05em;
}


/* 
========================================================
Footnotes
========================================================
*/

// We use the "mini" typography style for Notes.

#notes ol {
    
    list-style: none;

    column-gap: miniGrid(4);
    padding-top: 0;
    padding-left: miniGrid(2);
    padding-bottom: 0;
    margin: 0;

    // @include miniBackgroundGrid;
    // background-color: white;

    // Small devices: 1 column
    // Wider devices: 2 columns
    column-count: 1;
    @media (min-width: 480px) {
        column-count: 2;
    }

    li {
        @include miniTypography;
        margin-left: miniGrid(1);
        margin-bottom: miniGrid(1);
        /*Do not let contents be broken across columns */
        break-inside: avoid;
        page-break-inside: avoid; /* Firefox */
    }

    li a {
        font-weight: normal;
        text-decoration: underline;
        border: none;

        &:hover {
            border: none;
        }
    }

    li:last-of-type {
        margin-bottom: 0;
    }

    // Highlight targeted note with a brief flash of
    // background color.
    li:target {
        animation: fadeIn ease-in 2s;
        border-radius: 0.1em;
    }

    @keyframes fadeIn {
        0% {
            color: foreground(0.95);
            background-color: foreground(0.1);
            box-shadow: -0.1em 0 0 0.4em fore(0.1);
        }
        100% {
            color: foreground(0.6);
            background-color: transparent;
            box-shadow: -0.1em 0 0 0em transparent;
        }
    }

    // Reveal back button when user hovers the list item.
    .fn-back {
        text-decoration: none;
        font-size: 0.9em;
        line-height: 1em;
        margin-left: 0.2em;
        opacity: 0;
        transition: opacity 200ms;

    }
    
    li:hover .fn-back {
        opacity: 1;
    }
}



/* 
========================================================
Related content
========================================================
*/

#related-content {
    font-size: var(--font-sml-1);
    line-height: grid(0.75);
    // background: foreground(0.075);
    // padding: grid(1);
    // margin: grid(2) 0 grid(1);

    h2 {
        // font-size: var(--font-base-size);
        // font-weight: 700;
        // margin: 0 0 grid(0.5) 0;
        // margin: grid(1) 0;
    }

    a.title {
        // font-size: var(--font-base-size);
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
    }

    .tag a {
        font-weight: normal;
        display: inline-block;
        text-decoration: none;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        width: 32%;
    }

    #tags {
        display: flex;
    }

    #tags > li:not(:last-child):after {
        content: ',';
        margin-right: 0.25em;
    }
}

/* 
========================================================
About the Author
========================================================
*/

#about-the-author {
    @include standardWidth;
    @include plumber(
        $font-size: 1.333,
        $line-height: 2,
        $leading-top: 5,
        $leading-bottom: 0,
        $grid-height: 1rem,
        $baseline: 0.18,
        $use-baseline-origin: false
    );
    @include dotBackground(0.25, 0.05);
    // font-size: var(--font-sml-1);
    padding: grid(1);
    // margin-bottom: 0;
    // margin-top: grid(2);
    p { margin: 0; }

    // &::before {
    //     content: '';
    //     @include dotBackground(0.25, 0);
    //     height: grid(0.5);
    //     margin-bottom: grid(0.5);
    // }
}