@use "mixins_and_functions" as *;
@use "plumber" as *;

/* 
========================================================
TABLES
========================================================
*/

/* Note: I have to use padding instead of margin to add space to bottom of tables, because of Firefox bug https://bugzilla.mozilla.org/show_bug.cgi?id=1492315. It causes margin values to apply to table cels (instead of the table element), if the table is a child of display: grid. Using padding in turn means I have to apply background color, border-radius (etc) to cels, instead of the table itself. */

/* -------------- Layout -------------- */

table {
    --tableBorderRadius: 0.2rem;
    width: 100%;
    border-spacing: 0;
    text-align: left;
    padding-bottom: grid(1.5);

    th, td {
        @include plumber(
            $font-size: 1.166,
            $line-height: 2,
            $leading-top: 1,
            $leading-bottom: 3,
            $grid-height: 1rem,
            $baseline: 0.16,
            $use-baseline-origin: false
        );
    
        padding-left: grid(0.25);
        padding-right: grid(0.25);
        margin: 0;
    }
}


/* -------------- Borders -------------- */

// We use box-shadow instead of borders for top and bottom
// borders, to preserve vertical grid rhythm. Box-shadow
// does not effect table cel height; borders do. Even if 
// we use box-sizing: border-box. It is ignored for tables.

// Add border to top top of first row
table thead:first-child th,
table tbody:first-child td {
    box-shadow: 0 1px 0 0 var(--tableBorderColor),
    0 -1px 0 0 var(--tableBorderColor);
}

/* Border: bottom of each row */
table td {   
    box-shadow: 0 1px 0 0 var(--tableBorderColor);
}

/* Border: left side */
table th:first-of-type, 
table td:first-of-type {
    border-left: 1px solid var(--tableBorderColor);
}

/* Border: right side */
table th:last-of-type, 
table td:last-of-type {
    border-right: 1px solid var(--tableBorderColor);
}


/* -------------- Round corners -------------- */
/* Note: Normally would apply to table element, but can't, because that won't work with padding. */

/* Top left */
table thead:first-child th:first-of-type,
table tbody:first-child td:first-of-type {    
    border-top-left-radius: var(--tableBorderRadius);
}

/* Top right */
table thead:first-child th:last-of-type,
table tbody:first-child td:last-of-type {
    border-top-right-radius: var(--tableBorderRadius);
}

/* Bottom left */
table tr:last-of-type td:first-of-type {
    border-bottom-left-radius: var(--tableBorderRadius);
}

/* Bottom right */
table tr:last-of-type td:last-of-type {
    border-bottom-right-radius: var(--tableBorderRadius);
}
