@use "mixins-and-functions" as *;

/*
========================================================
Utility classees
========================================================
*/

// -------------- Wrapper -------------- //

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.standard-width {
  --side-margin: 1.5rem;
  @include small { 
      --side-margin: 3rem; 
  }
  // @include medium { --side-margin: 3rem; }
  
  @include large { 
    --side-margin: 4rem;
    max-width: 96rem;
  }
  
  @include xl { 
      max-width: 118rem; 
  }

  width: 100%;
  display: block;
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);
}


// -------------- Typography -------------- //

// Captions

.caption {
  font-weight: 400;
  color: caption(1);
}


// Large text

.large-text p,
p.large-text {
  
  // Color
  color: onBackground(0.7);
  @include dark { color: onBackground(0.9); }
  a { color: inherit; }
  a:hover { color: onBackground(1); }
  
  font-weight: 400;
  // Font size and line-height
  @include baselineShiftTypography(
    $fontSize: fontSize(1), 
    $lineHeight: 2rem
  );

  @include medium {
    font-weight: 300;
    @include baselineShiftTypography(
      $fontSize: 1.6rem,
      $lineHeight: 2.5rem
    );
  }

  @include xl {
    @include baselineShiftTypography(
      $fontSize: 2rem,
      $lineHeight: 3rem
    );
  }

  &:last-of-type {
    margin-bottom: 0rem;
  }
}


// Body text

*:not(p).body-text > *,
p.body-text {
  
  color: onBackground(0.8);
  font-weight: 400;
  @include baselineShiftTypography(
    $fontSize: fontSize(1), 
    $lineHeight: 2rem
  );

  @include medium {
    font-weight: 300;
    @include baselineShiftTypography(
      $fontSize: 1.333rem, 
      $lineHeight: 2rem
    );
  }

  @include xl {
    @include baselineShiftTypography(
      $fontSize: 1.6rem, 
      $lineHeight: 2.5rem
    );
  }
  
  &:last-of-type {
    margin-bottom: 0;
    @include xl {
        margin-bottom: 1rem;
    }
  }
}


// Small text

.small-text {
  @include baselineShiftTypography(
    $fontSize: 1.2rem,
    $lineHeight: 1.75rem,
    $paddingTop: 0rem,
  );

  @include xl {
    @include baselineShiftTypography(
      $fontSize: 1.333rem,
      $lineHeight: 2rem,
      $paddingTop: 1rem,
    );
  }
  margin-bottom: 0;

  // @include monoFont;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
}



// -------------- Grid -------------- //

// Grid - 12 columns

.grid-12 {
  
  display: grid !important;
  overflow: hidden;
  
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @include medium {
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
  }
}

// Grid - 2 columns

.grid-2 {

  display: grid !important;
  overflow: hidden;

  grid-template-columns: 1fr;
  gap: 1rem;

  @include medium {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
}

// Column distribution

.cols-left-right-split {
  display: contents;

  *:first-child,
  *:not(:first-child) { grid-column: 1 / -1; }
  
  @include medium {
    *:first-child,
    *:not(:first-child) { grid-column: 1 / span 8; }
  }

  @include large {
    *:first-child { grid-column: 9 / -1; }
    *:not(:first-child) { grid-column: 1 / span 7; }
  }
}

.cols-left-half {
  grid-column: 1 / -1;
  @include medium { grid-column: 1 / span 8; }
  @include large { grid-column: 1 / span 7; }
}

.cols-all {
  grid-column: 1/-1;
}

// TODO
// .full-bleed {
//   grid-column: 1 / -1;
//   width: 100%;
//   > * {
//     width: 100%;
//     > * {
//       width: 100%;
//     }
//   }
// }


// -------------- Gaps -------------- //

.no-gap { gap: 0 !important; }
.no-col-gap { column-gap: 0 !important; }
.no-row-gap { row-gap: 0 !important; }


// -------------- Aspect ratio -------------- //

.aspect-ratio-16-9,
.aspect-ratio-16-10 {
  object-fit: cover;
  overflow: hidden;
}

.aspect-ratio-16-9 { aspect-ratio: 16 / 9; }
.aspect-ratio-16-10 { aspect-ratio: 16 / 10; }


// -------------- Padding -------------- //

.p-zero { padding: 0 !important; }
.p-small { padding: var(--small-pad) !important; }
.p-medium { padding: var(--medium-pad) !important; }
.p-large { padding: var(--large-pad) !important; }

@include small {
  .sm-p-zero { padding: 0 !important; }
  .sm-p-small { padding: var(--small-pad) !important; }
  .sm-p-medium { padding: var(--medium-pad) !important; }
  .sm-p-large { padding: var(--large-pad) !important; }
}

@include medium {
  .md-p-zero { padding: 0 !important; }
  .md-p-small { padding: var(--small-pad) !important; }
  .md-p-medium { padding: var(--medium-pad) !important; }
  .md-p-large { padding: var(--large-pad) !important; }
}

@include large {
  .lg-p-zero { padding: 0 !important; }
  .lg-p-small { padding: var(--small-pad) !important; }
  .lg-p-medium { padding: var(--medium-pad) !important; }
  .lg-p-large { padding: var(--large-pad) !important; }
}


// -------------- Margin -------------- //

.mb-zero { margin-bottom: 0 !important; }
.mb-small { margin-bottom: var(--small-margin) !important; }
.mb-medium { margin-bottom: var(--medium-margin) !important; }
.mb-large { margin-bottom: var(--large-margin) !important; }

@include small {
  .sm-mb-zero { margin-bottom: 0 !important; }
  .sm-mb-small { margin-bottom: var(--small-margin) !important; }
  .sm-mb-medium { margin-bottom: var(--medium-margin) !important; }
  .sm-mb-large { margin-bottom: var(--large-margin) !important; }
}

@include medium {
  .md-mb-zero { margin-bottom: 0 !important; }
  .md-mb-small { margin-bottom: var(--small-margin) !important; }
  .md-mb-medium { margin-bottom: var(--medium-margin) !important; }
  .md-mb-large { margin-bottom: var(--large-margin) !important; }
}

@include large {
  .lg-mb-zero { margin-bottom: 0 !important; }
  .lg-mb-small { margin-bottom: var(--small-margin) !important; }
  .lg-mb-medium { margin-bottom: var(--medium-margin) !important; }
  .lg-mb-large { margin-bottom: var(--large-margin) !important; }
}


/* -------------- Misc -------------- */

.smallcaps {
  font-variant: small-caps;
}


/* -------------- Hanging punctuation -------------- */

// Applied manually in the build process if the first character is a quote.
.hanging-punctuation {
  text-indent: -0.3em;
}

// Prevent children indenting by reseting to zero.
.hanging-punctuation * {
  text-indent: 0;
}


/* -------------- Hidden -------------- */

// Hide visibly only; content is still available to screen readers. Example use case: "Skip to content" at the top of a page, enabling screen readers to skip navigation (etc) to content.
// Per: https://webaim.org/techniques/css/invisiblecontent/
.visibility-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
}

// Hide both visibly, and from screen readers
[aria-hidden='true'] {
  // display: none;
  visibility: hidden;
}


/* -------------- Thick border -------------- */

.dotted-top-edge {
  &::before {
      content: '';
      height: 1rem;
      display: block;
      background-image: 
          linear-gradient(accent(0.05), accent(0.05)),
          radial-gradient(accent(0.25) 0.05em, transparent 0);
      background-size: 
          cover,
          0.2em 0.2em;
      background-position: 
          top left,
          top left;
      background-repeat:
          no-repeat,
          repeat; 
  }
}
