@use "mixins-and-functions" as *;

// These are base styles that apply site-wide, to all sections.
// This is where resets and low-level styles are applied.

/*
========================================================
VARIABLES
========================================================
*/

/* -------------- Colors -------------- */

body {
	--baseTextAlpha: 0.8;
}

body[data-color-scheme=light] {
	--accent: 0, 185, 115; // Vibrant-green
	// --accent: 0, 163, 102; // Vibrant-green
	--background: 247, 247, 247;
	--caption: 140, 140, 140;
	--foreground: 0, 0, 0;
	--horizontal-rule: 220, 220, 220;
	// --lightboxBackgroundColor: 20, 20, 20;
	// --lightboxForegroundColor: 255, 255, 255;
	--on-background: 40, 40, 40; // Was 10,10,10
	--on-popup: 250, 250, 250;
	--overlayGrid: 0, 119, 179;
	--popup: 65, 65, 65;
}

body[data-color-scheme=dark] {
	--accent: 2, 252, 158; // Vibrant-green
	--background: 30, 37, 45; // Dark blue
	--caption: 120, 150, 180; // Slight blue
	--foreground: 255, 255, 255;
	--horizontal-rule: 66, 84, 102;
	// --lightboxBackgroundColor: 10, 14, 16;
	--on-background: 180, 192, 207;
	--on-popup: 173, 191, 212;
	--popup: 21, 23, 26;
}

// --baseTextAlpha: 0.7;
// --foreground: 0, 0, 0;
// --accent: 0, 163, 102; // Vibrant-green
// --caption: 140, 140, 140;
// --background: 247, 247, 247;
// --on-background: 10, 10, 10;
// --popup: 65, 65, 65;
// --on-popup: 250, 250, 250;
// --lightboxForegroundColor: 255, 255, 255;
// --lightboxBackgroundColor: 20, 20, 20;
// --overlayGrid: 0, 119, 179;

// @include dark {    
// 	--baseTextAlpha: 0.7;
// 	--foreground: 255, 255, 255;
// 	--accent: 2, 252, 158; // Vibrant-green
// 	--caption: 120, 150, 180;
// 	--background: 30, 37, 45;
// 	--on-background: 180, 192, 207;
// 	--popup: 21, 23, 26;
// 	--on-popup: 173, 191, 212;
// 	--lightboxBackgroundColor: 10, 14, 16;
// }


:root {

	/* -------------- Typography -------------- */

	/*

	html font-size =        1 grid unit = 1 rem
	body line-height =      2 grid unit = 2 rem
	body font-size =        1.333 rem

	We're using a baseline grid. 
	We shift text elements to sit on their baseline
	by adding padding above, and then pull elements below 
	upwards by the same amount, using negative margin, so 
	the page flow is presetved.
	
	We try to only use bottom margin, but in some places 
	have to also use top.
	 
	*/

	--htmlFontSize: 11px;
	--bodyFontSize: 1.333rem;
	--grid: 1rem;
	
	// Scale up base font pixel size as screen size increases
	@include small-screen { --htmlFontSize: 12px; }
	@include xl-screen { --htmlFontSize: 13px; }
	@include xxl-screen { --htmlFontSize: 14px; }

	/* -------------- Layout -------------- */

	--side-margin: 1.5rem;

	@include small-screen { 
		--side-margin: 3rem; 
	}

	@include large-screen { 
		--side-margin: 4rem;
	}

	/* -------------- Spacing -------------- */

	// Padding
  
	--small-pad: 1rem;
	--medium-pad: 2rem;
	--large-pad: 3rem;
	@include large-screen { 
		--small-pad: 2rem;
		--medium-pad: 3rem;
		--large-pad: 4rem; 
	}

	// Margin

	--small-margin: 1rem;
	--medium-margin: 2rem;
	--large-margin: 3rem;
	@include medium-screen { 
		--small-margin: 2rem;
		--medium-margin: 3rem;
		--large-margin: 4rem; 
	}
}