@use 'mixins-and-functions' as *;

// These are base styles that apply site-wide, to all sections.
// This is where resets and low-level styles are applied.

/*
========================================================
VARIABLES
========================================================
*/

/* -------------- Colors -------------- */

body {
	--base-text-alpha: 0.8;
}

body[data-theme='light'] {
	--accent: 0, 185, 115; // Vibrant-green
	--background: 247, 247, 247;
	--blockquote-border: rgba(var(--accent), 0.8);
	--blockquote-text: 110, 110, 110;
	--caption: 140, 140, 140;
	--caution: 255, 112, 90; // Orange
	--code: 58, 136, 106; // Darker vibrant-green
	--foreground: 0, 0, 0;
	--on-background: 40, 40, 40; // Was 10,10,10
	--body-text: 80, 80, 80;
	--on-popup: 220, 220, 220;
	--overlayGrid: 0, 119, 179;
	--popup: 65, 65, 65;
	--section-divider: 220, 220, 220;
	--footer: rgba(0, 0, 0, 0.05);
	--brightness-shift: 0.7;
}

body[data-theme='dark'] {
	--accent: 2, 252, 158; // Vibrant-green
	--background: 30, 37, 45; // Dark blue
	--blockquote-border: rgba(var(--blockquote-text), 0.65);
	--blockquote-text: 120, 150, 180; // Slight blue
	--caption: 120, 150, 180; // Slight blue
	--caution: 255, 112, 90; // Orange
	--code: 172, 180, 227; // Purple
	--foreground: 255, 255, 255;
	--on-background: 180, 192, 207;
	--body-text: 150, 161, 175;
	--on-popup: 183, 201, 212;
	--popup: 51, 58, 72;
	--section-divider: 47, 60, 73;
	--footer: rgba(0, 0, 0, 0.15);
	--brightness-shift: 1.2;
}

:root {
	/* -------------- Typography -------------- */

	/*

	html font-size =        1 grid unit = 1 rem
	body line-height =      2 grid unit = 2 rem
	body font-size =        1.333 rem

	We're using a baseline grid. 
	We shift text elements to sit on their baseline
	by adding padding above, and then pull elements below 
	upwards by the same amount, using negative margin, so 
	the page flow is presetved.
	
	We try to only use bottom margin, but in some places 
	have to also use top.
	 
	*/

	--html-font-size: 11px;
	--body-font-size: 1.333rem;
	--grid: 1rem;

	// Scale up base font pixel size as screen size increases
	@include small-screen {
		--html-font-size: 12px;
	}

	@include xl-screen {
		--html-font-size: 13px;
	}

	@include xxl-screen {
		--html-font-size: 14px;
	}

	/* -------------- Layout -------------- */

	// Side margin

	--side-margin: 1.5rem;

	@include small-screen {
		--side-margin: 3rem;
	}

	@include large-screen {
		--side-margin: 4rem;
	}

	// Border radius of inserts such as figures, 
	// pictures, code blocks, asides.
	// On smallest screens: No rounding
	// On small and above: Apply some rounding

	// --media-border-radius: 0;

	--media-border-radius: 0.2rem;
	@include smaller-screen {
	}

	/* -------------- Spacing -------------- */

	// Padding

	--small-pad: 1rem;
	--medium-pad: 2rem;
	--large-pad: 3rem;

	@include large-screen {
		--small-pad: 2rem;
		--medium-pad: 3rem;
		--large-pad: 4rem;
	}

	// Margin

	--small-margin: 1rem;
	--medium-margin: 2rem;
	--large-margin: 3rem;

	@include medium-screen {
		--small-margin: 2rem;
		--medium-margin: 3rem;
		--large-margin: 4rem;
	}
}
