@use 'mixins-and-functions' as *;

/* 
========================================================
Home
========================================================
*/

// -------------- Layout -------------- //

body {
  position: relative;

  #toggle-theme {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

main {
  padding-top: 8em;
  // margin-bottom: 4rem;
  @include medium-screen {
    padding-top: 16rem;
  }
  margin-bottom: 2rem;
}

main > * {
  @include standardWidth;
  // margin-bottom: 3rem;
}

main > section {
  @include topBorder(sectionDivider(1));
  overflow: visible !important;
  margin-bottom: calc(var(--large-margin) + 1rem);
}

// Single column on small screens
// Multi-column on medium and up screens
main > section {
  display: contents;

  > *:first-child,
  > *:not(:first-child) {
    grid-column: 1 / -1;
  }

  @include medium-screen {
    > *:first-child {
      grid-column: 1 / span 3;
    }
    > *:not(:first-child) {
      grid-column: 4 / -1;
    }
  }
}

// -------------- Header -------------- //

main > header {
  overflow: visible !important;
  margin-bottom: calc(var(--large-margin) + 2rem);
  position: relative;

  // margin-bottom: 3rem;
  // @include medium-screen {
  //   margin-bottom: 6rem;
  // }

  h1 {
    --color: var(--accent);
    @include font-large-3;
    // font-weight: 600;
  }

  // Intro
  .intro {
    --color: var(--body-text);
    @include font-body;
    @include links;
    font-weight: 400;
    max-width: 60ex;
    margin-bottom: 1rem !important;
    @include medium-screen {
      @include font-large-1;
    }
    @include medium-screen {
      margin-bottom: 2rem !important;
    }
  }

  // Address
  address {
    --color: var(--body-text);
    @include font-body;
    font-weight: 400;

    margin-bottom: 0rem;

    a {
      color: onBackground(var(--base-text-alpha));
      text-underline-offset: 0.2em;
      text-decoration-thickness: 2px;
      text-decoration-color: accent(1);
    }

    a:hover {
      color: accent(1);
    }
  }

  .divider {
    font-size: 1rem;
    color: accent(0.3);
    margin: 0 0.5rem;
  }
}

// -------------- H2 -------------- //

h2 {
  --color: var(--accent);
  @include font-large-1;
  font-weight: 600 !important;
  @include small-screen {
    @include font-body;
  }

  display: inline-block;
  margin-bottom: 1rem;
}

// -------------- List of Links -------------- //

// Hide on smaller displays
// Only show when there's enough room for two columns
.list-of-links {
  display: none;
}
@include large-screen {
  .list-of-links {
    display: block;
  }
}

.list-of-links {
  list-style: none;
  padding-left: 0;
  margin: 0 0 0;

  li {
    --color: var(--body-text);
    @include font-body;
    @include links($brightnessShift: false);
    line-height: 1.75em;
  }

  li::before {
    content: none;
  }

  // So the link underlines aren't cut off
  overflow: visible;

  a {
    display: inline-block;
  }
}

// -------------- Thumbnail grid -------------- //

// Two columns on "small" screens (>640) and up.
// Single column below that.
.thumbnail-grid {
  display: grid;
  column-gap: 1rem;
  row-gap: 2rem;
  @include small-screen {
    row-gap: 1.5rem;
  }
  // margin-top: 1rem;
  overflow: visible;

  grid-template-columns: 1fr;
  @include small-screen {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  figure {
    margin: 0;
    video,
    img {
      border-radius: var(--media-border-radius);
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  figure.wide {
    grid-column: 1 / -1;
  }

  figure.wide a.thumb {
    aspect-ratio: 3 / 2;
    @include small-screen {
      aspect-ratio: 2 / 1;
    }
  }

  figure.narrow {
    overflow: visible;
    a.thumb {
      aspect-ratio: 3 / 2;
    }
  }
}

.thumbnail-grid a.thumb {
  display: block;
  position: relative;
  overflow: hidden;
  object-fit: cover;

  &::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: box-shadow 0.25s;
    border-radius: var(--media-border-radius);
  }

  &:hover::before {
    box-shadow: inset 0 0 0 0.35rem accent(1);
  }
}

.thumbnail-grid figcaption {
  --color: var(--caption);
  @include font-small;
  @include links($hideUnderlineUntilHover: true, $brightnessShift: false);
  padding-top: 0.5rem;
  @include small-screen {
    @include font-smaller;
  }
}

// -------------- Work History -------------- //

#work-history {
  // padding-top: 5rem;
}

#work-history td.org {
  color: onBackground(0.8);
  font-weight: 500;
  padding-right: 1rem;
}

#work-history td.role {
  width: 100%;
  color: onBackground(0.6);
  overflow: hidden;
  .project {
    color: onBackground(0.6);
  }
}

#work-history td.year {
  color: onBackground(0.6);
  text-align: right;
  // Bump baseline up, so small text aligns with
  // the larger text in other columns
  vertical-align: super;

  // Hide `year` on smallest displays
  display: none;
  @include small-screen {
    display: table-cell;
  }
}

// -------------- Posts -------------- //

#posts .thumbnail-grid {
  row-gap: 1.5rem;
  @include small-screen {
    row-gap: 2.5rem;
  }
  margin-top: 0;
}

// Add horizontal border between post divs
// The :nth-child selector selects only the third
// div onwards (not the first two).
@include small-screen {
  #posts .thumbnail-grid > div:nth-child(n + 3) {
    border-top: 1px solid onBackground(0.2);
    padding-top: 1.5rem;
  }
}

#posts h3 {
  --color: var(--body-text);
  @include font-large-1;
  @include links($hideUnderlineUntilHover: true, $brightnessShift: true);
  line-height: 1.4em !important;
  font-weight: 600 !important;
  @include small-screen {
    font-weight: 500 !important;
    @include font-body;
  }
  max-width: 30ch;
  font-weight: 500;
  margin-bottom: 1rem;
  @include small-screen {
    margin-bottom: 1rem;
  }

  a,
  a > * {
    padding: 0;
  }
}

#posts p.summary {
  --color: var(--body-text);
  @include font-body;
  @include small-screen {
    @include font-small;
  }
  max-width: 44ex;
  // color: onBackground(0.8);

  time {
    font-size: 0.95em;
    font-weight: 500;
    color: onBackground(0.6);
    // opacity: 0.8;
    // @include monoFont;
  }
}

#posts .tag {
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
  // background-color: onBackground(0.15);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 0.75em;
  font-weight: 600;
  @include small-screen {
    font-weight: 500;
  }
  vertical-align: bottom;

  &.web {
    // $color: #15AAFF;
    $color: #ef2d5e;
    color: white;
    text-shadow: 0 1px rgba($color, 0.3);
    background-color: rgba($color, 0.6);
    box-shadow: inset 0 -1px rgba($color, 0.2);
    @include dark {
      // $color: #4BBDFF;
      $color: #ef2d5e;
      color: rgba($color, 1);
      text-shadow: none;
      background-color: rgba($color, 0.25);
      box-shadow: none;
    }
  }

  &.tutorial {
    $color: #15aaff;
    color: white;
    text-shadow: 0 1px rgba($color, 0.3);
    background-color: rgba($color, 0.5);
    box-shadow: inset 0 -1px rgba($color, 0.2);
    @include dark {
      $color: #4bbdff;
      color: rgba($color, 1);
      text-shadow: none;
      background-color: rgba($color, 0.25);
      box-shadow: none;
    }
  }

  &.climate {
    color: white;
    text-shadow: 0 1px accent(0.3);
    background-color: accent(0.6);
    box-shadow: inset 0 -1px accent(0.2);
    @include dark {
      color: accent(0.8);
      text-shadow: none;
      background-color: accent(0.2);
      box-shadow: none;
    }
  }
}

#posts .tag:last-of-type {
  margin-right: 0.2em;
}
#posts .tag:last-of-type:not(:first-on-type) {
  margin-right: 0.4em;
}

// #posts time {
//   @include monoFont;
//   color: caption(0.6);
//   text-transform: uppercase;
// }

// -------------- Talks -------------- //

#talks {
  // --color: var(--body-text);
}

#talks td.title {
  width: 50%;
  overflow: visible;
  padding-right: 1rem;
  font-weight: 400;
}

#talks td.venue {
  color: onBackground(0.6);
  overflow: hidden;
  display: none;
  @include large-screen {
    display: table-cell;
  }
}

#talks td.year {
  @include font-smaller;
  opacity: 0.8;
  text-align: right;
  // color: onBackground(0.6);
  text-transform: uppercase;
  // Bump baseline up, so small text aligns with
  // the larger text in other columns
  vertical-align: super;

  // Hide month. Don't really need it.
  .month {
    display: none;
  }

  // Hide `year` on smallest displays
  display: none;
  @include small-screen {
    display: table-cell;
  }
}

// -------------- Shared Styles -------------- //

// Tables:
// We modify the default table styles slightly

table {
  --tableBorderRadius: 0rem;
  --tableOuterBorderColor: #{onBackground(0.1)};
  --tableInnerBorderColor: #{onBackground(0.1)};

  white-space: nowrap;
  margin: 0;

  td {
    // Disable rounded corners
    border-radius: 0px;
    height: 3rem;
    overflow-y: hidden;
  }

  // Remove border from sides
  td:first-of-type {
    padding-left: 0;
    border-left: none;
  }

  td:last-of-type {
    padding-right: 0;
    border-right: none;
  }

  td.mono {
    // @include monoFont;
    // @include baselineShiftTypography(
    //     $fontSize: 1rem,
    //     $descenderRatio: 0.1
    // );
    margin-bottom: 1rem;
  }
}

// Hide top border of first row of tables
table *:first-child > *:first-child > td {
  box-shadow: 0 1px 0 0 var(--tableInnerBorderColor);
}

// -------------- Copyright -------------- //

#copyright {
  --color: var(--body-text);
  @include font-smaller;
  opacity: 0.6;
  padding-top: 2rem;
}