@use "mixins-and-functions" as *;

/* 
========================================================
PORTFOLIO-SPECIFIC
========================================================
*/


// -------------- Base Elements & Styles  -------------- //

p a {
  font-weight: inherit;
}

strong {
  background: none;
  font-weight: 500;
  color: inherit;
  padding: 0;
}

// Margin bottom of all article children
main > article > * {
  margin-bottom: var(--large-margin);
}

// Media elements
picture, img, video, iframe {
  display: block;
  width: 100%;
  height: auto;
}


// -------------- Content width -------------- //

main > article > *,
.standard-width {
    --side-margin: 1.5rem;
    @include small { 
        --side-margin: 3rem; 
    }
    // @include medium { --side-margin: 3rem; }
    
    @include large { 
      --side-margin: 4rem;
      max-width: 96rem;
    }
    
    @include xl { 
        max-width: 118rem; 
    }
  
    width: 100%;
    display: block;
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
}


// -------------- Header -------------- //

main > article > header {
  margin-bottom: 3rem;
  @include medium { margin-bottom: 4rem; }
}

// h1

main > article > header h1 {

  grid-column: 1 / -1;

  color: accent(1);
  font-weight: 400;

  @include baselineShiftTypography(
    $fontSize: 1.6rem,
    $lineHeight: 2rem,
  );
  
  @include medium {
    font-weight: 300;
    @include baselineShiftTypography(
      $fontSize: 2rem,
      $lineHeight: 3rem,  
    );
  }
}

// Intro

main > article > header .intro {
  grid-column: 1 / -1;
  order: 2;
  @include medium {
    grid-column: 1 / span 8;
    order: initial;
  }
  @include xl {
    grid-column: 1 / span 7;
  }
}

// Metadata

main > article > header .metadata {

  time, .role { color: onBackground(0.7); }
  color: onBackground(0.5);
  line-height: 1.75rem;

  // Margin
  margin-bottom: 1rem;
  @include medium { margin-top: 1rem; }
  @include xl { margin-top: 0; }

  // Grid
  grid-column: 1 / -1;
  @include medium {
    grid-column: 10 / -1;
    order: initial;
  }
  @include xl {
    grid-column: 11 / -1;
  }
}
