/* ==========================================================================
   Colors
   ========================================================================== */

:root {

    --clr-gray-darkestx2: hsl(0, 0%, 5%);
    --clr-gray-darkest: hsl(0, 0%, 7.5%);
    --clr-gray-darker: hsl(0, 0%, 15%);
    --clr-gray-dark: hsl(0, 0%, 30%);
    --clr-gray: hsl(0, 0%, 50%);
    --clr-gray-light: hsl(0, 0%, 70%);
    --clr-gray-lighter: hsl(0, 0%, 85%);
    --clr-gray-lightest: hsl(0, 0%, 92.5%);
    --clr-gray-lightestx2: hsl(0, 0%, 95%);
    
    --clr-blue: hsl(214, 61%, 49%);
    --clr-blue-light: #b9d0ee;
    --clr-blue-alpha: rgba(48, 114, 201, 0.15);
    --clr-highlight: rgb(247, 242, 197); 
}