/* ==========================================================================
   Figure & Img
   ========================================================================== */

article > figure {
    /* grid-column: right; */
    /* align-self: end; */
    /* justify-self: end; */
    /* overflow: visible; */
    /* height: 0em; */

    margin-top: 0;
    margin-bottom: var(--block-margin-bottom);
}

figure {
    margin: 0;
    position: relative;
}

figure img {
    box-shadow: 0px 1px 26px -14px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.06);
    object-fit: cover;
    max-width: 100%;
    box-sizing: content-box;
    margin: 0;
    border-radius: 0.25em;
}

figcaption {
    /* padding: var(--grid-subdivision-2); */
    /* background: rgba(0, 0, 0, 0.05); */
    /* font-style: italic; */
    /* margin-top: var(--grid-subdivision-1); */
    color: gray;
    font-size: var(--font-size-sml-1);
    line-height: var(--grid-subdivision-3);
    letter-spacing: 0.02em;
}