#btnGrid {
    position: fixed;
    top: var(--grid);
    left: var(--grid);
    width: var(--grid-4);
    height: var(--grid);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    background-color: rgb(239, 239, 239);
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* padding: 0.6em; */
    box-sizing: border-box;
    font-weight: bold;
}

#btnGrid:hover {
    background-color: rgb(183, 217, 248);
    cursor: pointer;
}

#btnGrid:focus {
    outline: 0px solid #fff;
}

.backgroundGrid {
    background: repeating-linear-gradient(to bottom, rgba(0, 119, 179, 0.1) 0, rgba(0, 119, 179, 0.1) 1px, transparent 1px, transparent var(--grid-subdivision-2)), repeating-linear-gradient(to bottom, rgba(0, 119, 179, 0.2) 0, rgba(0, 119, 179, 0.2) 1px, transparent 1px, transparent var(--grid));
    background-color: rgb(243, 249, 255);
}

.blockHighlight {
    background-color: rgba(0, 119, 179, 0.2);
}
