/* ==========================================================================
   Navigation
   ========================================================================== */

/* -------------- Header -------------- */

body > header {
    position: absolute;
    top: calc(var(--grid-2) + var(--grid-subdivision-1));
    left: var(--grid-2);
    width: var(--grid-8);
    z-index: 100;
    font-size: var(--font-size-sml-1);
}

body > header h1 {
    font-size: var(--font-size-lg-2);
    line-height: var(--baseLineHeight);
    margin: 0 0 var(--grid) 0;
}

body > header ul {
    list-style: none;
    /* display: flex; */
    margin: 0;
    padding: 0;
    /* flex: 2; */
}

body > header address {
    margin: var(--block-margin-top) 0 var(--block-margin-bottom) 0;
    font-style: normal;
}


/* ==========================================================================
   FOOTER
   ========================================================================== */

/* Footer contains copyright info */

article > footer {
    grid-column: main;
    margin-top: var(--grid-2);
    padding: var(--grid) 0;
    border-top: var(--grid-subdivision-1) solid var(--clr-gray-light);
    font-size: var(--txt-size-small);
    color: var(--clr-gray);
}
