/* ==========================================================================
   NOTES
   ========================================================================== */

/* -------------- Icon -------------- */
    
.note {
    position: relative;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.note .icon {
    cursor: default;
    background-color: hsl(0, 0%, 92%);
    color: hsl(0, 0%, 40%);
    border-radius: 0.2em;
    font-size: 0.9em;
    line-height: 1em;
    font-size: 0.8em;
    content: 'fn'; 
}

blockquote .note .icon {
    background-color: var(--clr-blue-lighter);
    color: inherit;
}

blockquote .note .popup {
    font-style: normal;
}

/* Make icon larger for touch devices */
@media(hover:none) {
    .note .icon {
        padding: 0.15em 0.4em;
    }
}

/* Make icon smaller for desktop devices */
@media(hover) {
    .note .icon {
        padding: 0.15em 0.25em;
    }
}

/* -------------- Icon :hover and :focus -------------- */

.note .icon:hover, .note .icon:focus  {
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 10%);
}

blockquote .note .icon:hover, blockquote .note .icon:focus {
    background-color: var(--clr-blue-light);
    color: inherit;
}

/* -------------- Popup - Shared styles -------------- */

.note .popup {
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 0.25em;
    white-space: normal;
    border-radius: var(--grid-subdivision-1);
    padding: var(--grid-subdivision-2);
    font-size: var(--font-size-sml-1);
    line-height: var(--grid-subdivision-3);
}

/* -------------- Popup - For desktop and larger touch-based devices -------------- */
/* The popup appears directly below the note.*/
/* It appears on both hover, and focus. So it works for both accessibility users (e.g. tab between footnotes), and Windows users with hybrid mouse/touch devices (e.g. tap the keynotes) */

@media(hover), (hover:none) and (min-width: 600px) {

    .note .popup {
        position: absolute;
        transform: translate(-50%, 100%);
        bottom: -0.7em;
        left: 50%;
        z-index: 100;
        width: 20em;
        /* Transition settings when mouse exits */
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.15s, bottom 0.1s, opacity 0.1s;
        transition-delay: 0.1s;
        transition-timing-function: ease-out;
    }

    /* Popup notch */
    .note .popup::before {
        content: '';
        width: 0.6em;
        height: 0.6em;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        
        /* transition: inherit; */
        background-color: inherit;
        opacity: inherit;
    }

    /* Transition in when sibling icon is hovered or focused */
    .note:hover .popup, .note:focus-within .popup {
        visibility: visible;
        opacity: 1;
        bottom: -0.4em;
        /* These settings apply when the mouse enters the icon*/
        transition: visibility 0s, bottom 0.05s, opacity 0.05s;
        transition-delay: 0.2s;
        transition-timing-function: ease-in;
    }

    .note:hover .popup a, .note:focus-within .popup a {
        text-decoration: underline;
        color: inherit;
    }

    /* Match coloring of blockquotes */
    blockquote .note {
        background-color: var(--clr-blue-lighter);
        color: inherit;
    }
}

/* -------------- Popup — For smaller touch-based devices -------------- */
/* The popup appears along the bottom of the screen, and a dark overlay covers the rest of the content.*/
/* TODO: What about Windows devices with both tap and touch? They won't be able to tap. May want to use `@media (pointer:fine)` and `@media (pointer:coarse)` instead? */

@media(hover:none) and (max-width: 599px) {

    .note .popup {
        position: fixed;
        left: 0;
        z-index: 100;
        border-radius: var(--grid-subdivision-1) var(--grid-subdivision-2) 0 0;
        padding: var(--grid-subdivision-3);
        padding-bottom: calc(var(--grid) + var(--grid-subdivision-2));
        font-size: var(--font-size-base);
        margin-left: var(--grid-subdivision-1);
        margin-right: var(--grid-subdivision-1);
        /* line-height: var(--grid-subdivision-3); */
        line-height: var(--grid);
        box-shadow: 0px 1px 40px 14px rgba(0, 0, 0, 0.2);
        
        /* Transition settings to hidden state */
        /* Don't set visibility until opacity tween is complete.*/
        bottom: -10em;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.15s, opacity 0.15s, bottom 0.25s;
        transition-timing-function: ease-in;
    }

    /* Activated */
    .note .icon:focus + .popup {
        /* Transition settings to visible state.*/
        /* Set visibility immediately (0s).*/
        bottom: 0em;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.25s, bottom 0.3s;
        transition-timing-function: ease-out;
    }

    /* Overlay */
    .note .popup::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}