/* ==========================================================================
   Variables
   ========================================================================== */
:root {
        
    /* -------------- Type sizes -------------- */

    --baseFontSize: 16px;
    --baseLineHeight: 1.625rem; /* 26px */
    
    --font-size-scale: 1.125;
    --font-size-lg-8:   calc(var(--font-size-lg-7) * var(--font-size-scale));
    --font-size-lg-7:   calc(var(--font-size-lg-6) * var(--font-size-scale));
    --font-size-lg-6:   calc(var(--font-size-lg-5) * var(--font-size-scale));
    --font-size-lg-5:   calc(var(--font-size-lg-4) * var(--font-size-scale));
    --font-size-lg-4:   calc(var(--font-size-lg-3) * var(--font-size-scale));
    --font-size-lg-3:   calc(var(--font-size-lg-2) * var(--font-size-scale));
    --font-size-lg-2:   calc(var(--font-size-lg-1) * var(--font-size-scale));
    --font-size-lg-1:   calc(var(--font-size-base) * var(--font-size-scale));
    --font-size-base:   1rem;
    --font-size-sml-1:  calc(var(--font-size-base) / var(--font-size-scale));
    --font-size-sml-2:  calc(var(--font-size-sml-1) / var(--font-size-scale));
    --font-size-sml-3:  calc(var(--font-size-sml-2) / var(--font-size-scale));

    /* -------------- Grid building blocks -------------- */
    
    --grid: var(--baseLineHeight);
    --grid-2: calc(var(--grid) * 2);
    --grid-3: calc(var(--grid) * 3);
    --grid-4: calc(var(--grid) * 4);
    --grid-5: calc(var(--grid) * 5);
    --grid-6: calc(var(--grid) * 6);
    --grid-7: calc(var(--grid) * 7);
    --grid-8: calc(var(--grid) * 8);
    --grid-10: calc(var(--grid) * 10);
    --grid-12: calc(var(--grid) * 12);
    --grid-16: calc(var(--grid) * 16);
    --grid-24: calc(var(--grid) * 24);
    --grid-32: calc(var(--grid) * 32);
    --grid-subdivision-1: calc(var(--grid) * 0.25);
    --grid-subdivision-2: calc(var(--grid) * 0.5);
    --grid-subdivision-3: calc(var(--grid) * 0.75);
    
    /* -------------- Grid layouts -------------- */

    --grid-narrow:  
        minmax(var(--grid-subdivision-3), 1fr) [content-start] minmax(calc(var(--grid) * 10), calc(var(--grid) * 22)) [content-end] minmax(var(--grid-subdivision-3), 1fr);

    --grid-wide:  
        [nav-start] minmax(calc(var(--grid) * 14), 1fr) [nav-end content-start] minmax(calc(var(--grid) * 20), calc(var(--grid) * 22)) [content-end] 1fr;


    /* --grid-layout-content:  
        [full-start] 
            minmax(0, 1fr)
            [left-start] 
                minmax(var(--grid-8), var(--grid-10)) 
            [left-end] 
            var(--grid-2)
            [main-start]
                minmax(calc(var(--grid) * 20), calc(var(--grid) * 22)) 
            [main-end] 
            var(--grid-2)
            [right-start]
                minmax(var(--grid-8), var(--grid-10)) 
            [right-end] 
            minmax(0, 1fr) 
        [full-end]; */
    
    /* -------------- Blocks -------------- */
    
    --block-margin-top: 0;
    --block-margin-bottom: var(--grid);
}


/* ==========================================================================
   Grid
   ========================================================================== */

body {
    /* width: 100%; */
    overflow-x: hidden;
    display: grid;
    position: relative;
    grid-template-columns: var(--grid-narrow);
    grid-auto-flow: row;
    grid-auto-rows: min-content;
}

@media (min-width: 900px) {
    body { 
        grid-template-columns: var(--grid-wide); 
    }
}

body > header { 
    display: none;
}

@media (min-width: 900px) {
    body > header { 
        display: initial;
        grid-column: nav;
    }
}

main {
    grid-column: content;
}



/* ==========================================================================
   Vertical rhythm
   ========================================================================== */

* { 
    box-sizing: border-box; 
    word-break: normal; 
}

html {
    font-size: var(--baseFontSize);
    line-height: var(--baseLineHeight);
}

body {
    margin: 0;
}

blockquote, ol, p, ul {
    margin-top: 0;
    margin-bottom: var(--block-margin-bottom);
}

/* Note: I have to use padding instead of margin to add space to bottom of tables, because of Firefox bug https://bugzilla.mozilla.org/show_bug.cgi?id=1492315. It causes margin values to apply to table cels (instead of the table element), if the table is a child of display: grid. Using padding in turn means I have to apply background color, border-radius (etc) to cels, instead of the table itself. */
table {
    margin: 0;
    padding-bottom: var(--block-margin-bottom);
}

:root {
    --h1-margin-bottom: var(--grid);
    --h2-margin-top: calc(var(--grid) + var(--grid-subdivision-2));
    --h2-margin-bottom: var(--grid);    
    --h3-margin-top: 0;
    --h3-margin-bottom: var(--grid);
}

h1 {
    font-size: var(--font-size-lg-8);
    line-height: var(--grid-2);
    margin-top: 0;
    margin-bottom: var(--h1-margin-bottom);
}

h2 {
    font-size: var(--font-size-lg-3);
    line-height: calc(var(--grid) + var(--grid-subdivision-1));
    margin-top: var(--h2-margin-top);
    margin-bottom: var(--h2-margin-bottom);
}

h3 {
    font-size: var(--font-size-base);
    line-height: var(--grid);
    margin-top: 0;
    margin-bottom: var(--h3-margin-bottom);
}

/* Reduce top-margin of headers that follow blocks to help ensure consistent vertical rhythm. */
@media (min-width: 480px) {

    h2{
        font-size: var(--font-size-lg-1);
    }

    header + h2, blockquote + h2, ol + h2, p + h2, pre + h2, table + h2, ul + h2 {
        margin-top: calc(var(--h2-margin-top) - var(--block-margin-bottom));
    }
}

/* We have to add !important to pre styles to prevent Prism.js themes from overriding */
pre {
    margin-top: 0 !important;
    margin-bottom: var(--block-margin-bottom) !important;
}

/* Stop child lists from having full breaks */
li > ol, li > ul {
    margin: 0;
}

/* horizontal rule */
hr {
    width: 100%;
    height: var(--grid-subdivision-1);
}


/* ==========================================================================
   Shared
   ========================================================================== */

body {
    font-family: 'Public Sans', sans-serif;
    color: var(--clr-gray-dark);
    background: hsl(0, 0%, 99%);
}

@media(min-width: 480px) {
    body {
        background: hsl(0, 0%, 98%);
    }
}

a {
    color: inherit;
    font-weight: 500;
}

a:hover {
    color: var(--clr-gray-darkest);
}

a:active {
    background-color: rgba(0, 0, 0, 0.15);
}



/* ==========================================================================
   Title and Address
   ========================================================================== */

article {
    margin-top: var(--grid);
}

@media(min-width: 600px) {
    /* More paddding at top for larger screens */ 
    article {
        margin-top: var(--grid-2);
    }
}

article .tag {
    /* text-transform: uppercase; */
    /* font-variant: small-caps; */
    /* letter-spacing: 0.025em; */
    font-size: var(--font-size-sml-1);
    color: var(--clr-gray)
}

h1 {
    color: var(--clr-gray-darker);
    font-weight: bold;
    letter-spacing: -0.01em;
}

article > header address {
    font-style: normal;
    /* font-variant: small-caps; */
    /* text-transform: uppercase; */
    /* letter-spacing: 0.025em; */
    color: var(--clr-gray);   
    font-size: var(--font-size-sml-1);
    line-height: var(--grid-subdivision-3);
    margin-bottom: var(--grid);
}

article > header address a, 
article > header address time {
    color: var(--clr-gray-dark);
}

article > header address a {
    margin-right: 0.2em;
    text-decoration: none;
}

article > header address a:hover {
    text-decoration: underline;
}



/* ==========================================================================
   Copy
   ========================================================================== */



/* -------------- Headers -------------- */

h1, h2, h3 {
    font-kerning: normal;
}

h2 {
    font-weight: bold;
    color: var(--clr-gray-darker);
}

h3 {
    color: var(--clr-gray-darker);
    font-weight: bold;
}

/* On wider screens:
- Show hashes before h2 
- Make h3 bit lighter
*/
@media(min-width: 480px) {

    h2::before {
        position: absolute;
        text-align: right;
        padding-right: 1ch;
        box-sizing: border-box;
        margin-left: -6ch;
        width: 6ch;
        color: var(--clr-gray-light);
        font-style: normal;
        content: "##";
    }

    h3 {
        color: var(--clr-gray-dark);
    }
}

/* On devices without hover, hide anchor links */
@media(hover:none) {
    .header-anchor {
        display: none;
    }
}

/* On hover devices, show header anchor links */
@media(hover) {

    .header-anchor {
        left: 0.1em;
        visibility: hidden;
        opacity: 0.3;
        position: relative;
        top: 0.2em;
    }
    
    .header-anchor:hover {
        opacity: 0.6;
    }
    
    h2:hover .header-anchor, h3:hover .header-anchor {
        visibility: visible;
    }
}

/* -------------- Lists  -------------- */
/* TODO: Am currently aligning list markers flush with left side using magic numbers.  */
/* Alternatively I could properly style my one, per: https://css-tricks.com/style-list-markers-css/  */

/* Make list markers flush with body text, by default */
/* ul {
    padding-left: 1em;
}

ol {
    padding-left: var(--grid-subdivision-3);
} */

article ol, article ul {
    list-style: none;
    counter-reset: custom-counter;
    padding-left: var(--grid-subdivision-3);
}

article ol li, article ul li {
    counter-increment: custom-counter;
    position: relative;
}

article ol li::before {
    content: counter(custom-counter) ".";
    font-size: 0.9em;
    color: var(--clr-gray);
}

article ul li::before {
    content: "•";
    font-size: 1.8em;
    color: var(--clr-gray-dark);
}

article ol li::before, article ul li::before {
    position: absolute;
    left: calc(var(--grid-subdivision-3) * -1);
}

/* Shrink numerical marker slightly. It's optically a bit too large at default 1em. */
/* ol li::marker {
    font-size: 0.95em;
} */

/* Add more indentation on larger screens */
@media(min-width: 480px) {
    article ul, article ol {
        padding-left: calc(var(--grid) + var(--grid-subdivision-1));
    }

    /* article ol li::before, article ul li::before {
        left: calc(var(--grid) * -1);
    } */
}
    
/* -------------- Images & Media -------------- */

/* Use relative sizes to prevent overflowing containers.  */

img, embed, object, video {
    max-width: 100%;    
}

/* -------------- Pre & Code -------------- */

/* We have to add !important to pre styles to prevent Prism.js themes from overriding */
pre {
    border: none !important;
    border-radius: 0.2em;
    border: 1px solid var(--clr-gray-lighter) !important;
    background-color: var(--clr-gray-lightestx2) !important;
}

pre code {
    white-space: pre-wrap !important;
}

code {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* -------------- Block quote -------------- */

/* Shifted margin is to make room on side for ::before notch (see below). */

blockquote {
    margin-left: var(--grid-subdivision-3);
    margin-right: 0;
    position: relative;
}

blockquote::before {
    content: ">";
    font-weight: normal;
    font-style: normal;
    position: absolute;
    left: calc(var(--grid-subdivision-3) * -1);
    color: var(--clr-blue-lightest)
}

blockquote p {
    letter-spacing: 0.005em;
    font-style: italic;
    color: var(--clr-blue-dark);
    padding-top: 0;
    margin-top: 0;
}

/* Remove bottom margin from last paragraph inside blockqoute, or their margins combine and give us more than we want, breaking consistent vertical spacing. */
blockquote p:last-of-type {
    margin-bottom: 0;
}

@media(min-width: 480px) {
    blockquote {
        /* margin-left: var(--grid); */
        margin-left: calc(var(--grid) + var(--grid-subdivision-1));
    }

    /* blockquote::before {
        left: calc(var(--grid) * -1);
    } */
}

/* -------------- Strong, Emphasis, Small caps  -------------- */

strong {
    font-weight: 700;
    /* background-color: var(--clr-highlight); */
    /* border-color: var(--clr-highlight); */
    /* border-style: solid; */
    /* border-width: 0.1em; */
    /* margin: -0.05em; */
}

.smallcaps {
    font-variant: small-caps;
}

/* -------------- Hanging punctuation -------------- */

/* This class gets applied manually in the build process if the first character is a quote. */
.hanging-punctuation {
    text-indent: -0.4em;
}

/* Prevent children indenting by reseting to zero */
.hanging-punctuation * {
    text-indent: 0;
}

/* -------------- Sub and Sup -------------- */
/* 
Prevent sup and sub elements from altering line height of parent text.
Adapted from: https://gist.github.com/unruthless/413930
*/

sub, sup {
    /* Specified in % so that the sup/sup is the
       right size relative to the surrounding text */
    font-size: 75%;
    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height: 0;
    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position: relative;
    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align: baseline;
}

sup {
    /* Move the superscripted text up */
    top: -0.5em;
}

sub {
    /* Move the subscripted text down, but only
       half as far down as the superscript moved up */
    bottom: -0.25em;
}