---js
{
    permalink: "./404.html",
    social: {
        addTags: false,
        type: "website",
    }
}
---
<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body>
        <main>
            <h1>404</h1>
            <p>Page not found.</p>
        </main>
    </body>
</html>