---js
{
    permalink: "./index.html",
    publish: true,
    date: "Last Modified",
    meta_image: "/img/c3d/meta.png",
    meta_type: "website",
    meta_twitter_card_type: "summary_large_image",
    css: ["home.css"]
}
---
<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body data-theme="none">
        {% include "toggle-theme-button.njk" %}
        <main class="content-wrapper" role="main" aria-labelledby="title">

            <header>
                <h1 id="title">
                    <span class="name">{{ bio.name }}</span>
                    {# , <span class="title">UX Designer</span> #}
                </h1>
                <p class="intro">
                    I'm a Canadian product designer living in the UK. Most recently I was a Staff Designer for Google Maps, designing and prototyping future dimensional Map experiences. Previously I led design teams at Google and Mozilla, working on VR and AR for the open web. My experience is a mix of product leadership, interaction design, visual design, prototyping, 3D graphics, and community engagement. Very much a fox—not a hedgehog.
                </p>
                {# <p class="intro">
                    I'm a Staff UX Designer for Google Maps, based in Vancouver, Canada. Previously I led design teams at Google and Mozilla working to bring virtual and augmented reality to the open web. My experience is a mixture of product leadership, interaction design, visual design, motion graphics, programming and community engagement. <a href="https://en.wikipedia.org/wiki/The_Hedgehog_and_the_Fox">A fox&#8212;not a hedgehog</a>. Since 2019 I've been traveling and working on a series of personal projects, including an Electron-based <a href="https://github.com/jcarpenter/gambier">Markdown editor</a> and a deep dive into climate change. 
                </p> #}
                <address>
                    <a href="https://twitter.com/{{ bio.twitter }}">Twitter</a>
                    <span class="divider">|</span>
                    <a href="{{ bio.github }}">GitHub</a>
                    <span class="divider">|</span>
                    <a href="/pdf/JoshCarpenter-Resume-2022.pdf">Resume</a>
                    {# <span class="divider">|</span>
                    <a href="{{ bio.linkedin }}">LinkedIn</a> #}
                </address>
            </header>

            {# ----- PORTFOLIO ----- #}

            <section class="grid-12" id="portfolio">

                <div>
                    <h2>Portfolio</h2>
                    <ul class="list-of-links">
                        <li>
                            <a href="/composable-3d-web/">Composable 3D Web</a>
                        </li>
                        <li>
                            <a href="/chrome-vr/">Chrome VR</a>
                        </li>
                        <li>
                            <a href="/aframe/">A-Frame VR</a>
                        </li>
                        <li>
                            <a href="/mozilla-vr/">Mozilla VR</a>
                        </li>
                        <li>
                            <a href="/firefox-os/">Firefox OS</a>
                        </li>
                        <li>
                            <a href="/stadium-control/">Stadium Control Center</a>
                        </li>
                        <li>
                            <a href="/home-automation/">Home Automation</a>
                        </li>
                    </ul>
                </div>

                <div class="thumbnail-grid">

                    <figure class="wide">
                        <a href="/composable-3d-web/" class="thumb">
                            <video playsinline autoplay loop muted poster="/img/c3d/city-discovery-poster.jpg">
                                <source src="/video/c3d/city-discovery.webm" type="video/webm; codecs=vp9,opus"></source>
                                <source src="/video/c3d/city-discovery.mp4" type="video/mp4"></source>
                            </video>
                        </a>
                        <figcaption>
                            <a href="/composable-3d-web/">The Composable 3D Web</a>
                        </figcaption>
                    </figure>

                    <figure class="narrow">
                        <a href="/chrome-vr/" class="thumb">
                            <img src="/img/chromevr/thumb.png"></img>
                        </a>
                        <figcaption>
                            <a href="/chrome-vr/">Chrome VR</a>
                        </figcaption>
                    </figure>

                    <figure class="narrow">
                        <a href="/aframe/" class="thumb">
                            <img src="/img/aframe/thumb.png"></img>
                        </a>
                        <figcaption>
                            <a href="/aframe/">A-Frame VR</a>
                        </figcaption>
                    </figure>

                    <figure class="narrow">
                        <a href="/mozilla-vr/" class="thumb">
                            <img src="/img/mozvr/thumb.png"></img>
                            {# <video class="aspect-ratio-185-1 of-cover cols-all" playsinline autoplay loop muted poster="portfolio/video/mozvr-hiro-loading-concept-poster.jpg">>
                                <source src="/video/mozvr-hiro-loading-concept.webm" type="video/webm; codecs=vp9,opus"></source>
                                <source src="/video/mozvr-hiro-loading-concept.mp4" type="video/mp4"></source>
                            </video> #}
                        </a>
                        <figcaption>
                            <a href="/mozilla-vr/">Mozilla VR</a>
                        </figcaption>
                    </figure>

                    <figure class="narrow">
                        <a href="/firefox-os/" class="thumb">
                            <img src="/img/ffos/thumb.png"></img>
                        </a>
                        <figcaption>
                            <a href="/firefox-os/">Firefox OS</a>
                        </figcaption>
                    </figure>

                    <figure class="narrow">
                        <a href="/stadium-control/" class="thumb">
                            <img class="of-cover" src="/img/ns/bcp/thumb.png"></img>
                        </a>
                        <figcaption>
                            <a href="/stadium-control/">Stadium Control Center</a>
                        </figcaption>
                    </figure>

                    <figure class="narrow">
                        <a href="/home-automation/" class="thumb">
                            <img class="of-cover" src="/img/ns/home/thumb.png"></img>
                        </a>
                        <figcaption>
                            <a href="/home-automation/">Home Automation</a>
                        </figcaption>
                    </figure>
                </div>
            </section>

            {# ----- WORK HISTORY ----- #}

            <section class="grid-12" id="work-history">
                <h2>Work History</h2>
                <table>
                    <tr>
                        <td class="org">Google</td>
                        <td class="role">Staff UX Designer <span class="project">- Maps</span></td>
                        <td class="year smaller-text caption-clr">
                            <time>2022-24</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="org">Google</td>
                        <td class="role">Staff UX Designer <span class="project">- Daydream</span></td>
                        <td class="year smaller-text caption-clr">
                            <time>2016-19</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="org">Mozilla</td>
                        <td class="role">UX Lead <span class="project">- Mozilla VR</span></td>
                        <td class="year smaller-text caption-clr">
                            <time>2014-16</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="org">Mozilla</td>
                        <td class="role">Interaction Design Lead <span class="project">- Firefox OS</span></td>
                        <td class="year smaller-text caption-clr">
                            <time>2012-14</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="org">New Space</td>
                        <td class="role">Creative Director</td>
                        <td class="year smaller-text caption-clr">
                            <time>2010-11</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="org">VFS</td>
                        <td class="role">Instructor <span class="project">- 3D & Motion</span></td>
                        <td class="year smaller-text caption-clr">
                            <time>2008-11</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="org">Big Green</td>
                        <td class="role">Senior Designer</td>
                        <td class="year smaller-text caption-clr">
                            <time>2006-08</time>
                        </td>
                    </tr>
                </table>
            </section>

            {# ----- POSTS ----- #}

            <section class="grid-12" id="posts">
                <h2>Posts</h2>
                <div class="thumbnail-grid">
                    {%- for post in collections.posts -%}
                        <div class="narrow">
                            <h3>
                                <a class="title" href="{{ post.url }}">{{ post.data.title }}</a>
                            </h3>
                            <p class="summary">
                                {% if post
                                    .data
                                    .tags
                                    .includes('web') %}
                                    <span class="tag web">Web</span>
                                {% endif %}
                                {% if post
                                    .data
                                    .tags
                                    .includes('tutorial') %}
                                    <span class="tag tutorial">Tutorial</span>
                                {% endif %}
                                {% if post
                                    .data
                                    .tags
                                    .includes('climate') %}
                                    <span class="tag climate">Climate</span>
                                {% endif %}
                                {{ post.data.summary }}
                                <time>{{ post.date | date("MMM YYYY") }}</time>
                            </p>
                        </div>
                    {%- endfor -%}
                </div>
            </section>

            {# ----- OTHER PROJECTS ----- #}

            <section class="grid-12" id="projects">

                <div>
                    <h2>Other Projects</h2>
                    <ul class="list-of-links">
                        <li>
                            <a href="/desk/">Desk</a>
                        </li>
                        <li>
                            <a href="/mobile-work-setup/">Mobile Work Setup</a>
                        </li>
                    </ul>
                </div>

                <div class="thumbnail-grid">

                    <figure class="narrow">
                        <a href="/desk/" class="thumb">
                            <img src="/img/desk/thumb.png"></img>
                        </a>
                        <figcaption>
                            <a href="/desk/">Desk</a>
                        </figcaption>
                    </figure>

                    <figure class="narrow">
                        <a href="/mobile-work-setup/" class="thumb">
                            <img src="/img/mobile-work/thumb.png"></img>
                        </a>
                        <figcaption>
                            <a href="/mobile-work-setup/">Mobile Work Setup</a>
                        </figcaption>
                    </figure>

                </div>

            </section>

            {# ----- TALKS ----- #}

            <section class="grid-12" id="talks">
                <h2>Talks</h2>
                <table>
                    <tr>
                        <td class="title">
                            <a href="https://www.youtube.com/watch?v=rrIYojWSHwk">ARCore: AR at Android Scale</a>
                        </td>
                        <td class="venue">Augmented World Expo</td>
                        <td class="year">
                            <time>
                                <span class="month">Jun</span> 2018</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <a href="https://www.youtube.com/watch?v=8Ev7Wh9dSfo">Future of the VR Web</a>
                        </td>
                        <td class="venue">Awwwards LA</td>
                        <td class="year">
                            <time>
                                <span class="month">Jun</span> 2017</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <a href="https://www.youtube.com/watch?v=rqXbLb1Bd7o">The Future of Immersive on the Web</a>
                        </td>
                        <td class="venue">Chrome Dev Summit</td>
                        <td class="year">
                            <time>
                                <span class="month">Oct</span> 2017</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <a href="https://www.youtube.com/watch?v=mpcgcVwvUgA">Designing the VR Browser</a>
                        </td>
                        <td class="venue">W3C Workshop on WebVR</td>
                        <td class="year">
                            <time>
                                <span class="month">Oct</span> 2016</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <a href="https://www.youtube.com/watch?v=eIrH2zXvw0I">Future of the Immersive Web</a>
                        </td>
                        <td class="venue">Forward 4 Web Summit</td>
                        <td class="year">
                            <time>
                                <span class="month">Apr</span> 2016</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <a href="https://www.youtube.com/watch?v=ZOaOYTOpwyM">UX Design for WebVR</a>
                        </td>
                        <td class="venue">SFHTML5</td>
                        <td class="year">
                            <time>
                                <span class="month">Jan</span> 2015</time>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <a href="https://vimeo.com/114106893">VR &amp; The Future of the Web</a>
                        </td>
                        <td class="venue">Push UX</td>
                        <td class="year">
                            <time>
                                <span class="month">Dec</span> 2014</time>
                        </td>
                    </tr>
                </table>
            </section>

            <div id="copyright">
                Copyright © {% year %}, {{ bio.name }}
                {# Made with <a href="https://www.11ty.dev/">Eleventy</a>. #}
            </div>

        </main>


    </body>
</html>