---js
{
    permalink: "./index.html",
    social: {
        addTags: true,
        type: "website",
    }
}
---
<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body id="home">
        <main>
            <section id="intro">
                <header>
                    <h1 class="title">{{ config.bio.name }}</h1>
                    <p><strong>Hello!</strong> I'm a user experience designer, based in Vancouver, Canada. Currently I am focused on learning more about climate change, and building a Markdown editor. Most recently I led design teams at <a href="https://www.google.com/" target="_blank">Google</a> and <a href="https://www.mozilla.org/" target="_blank">Mozilla</a>, working to bring virtual and augmented reality to the open web.</p>
                    {# <p>UX designer, currently exploring climate in Vancouver, Canada. Previously: UX Lead for WebVR/AR at Google, lead of the Mozilla WebVR team, co-creator of A-Frame, and interaction design lead for Firefox OS.</p> #}
                    <address>
                        <a href="https://twitter.com/{{ config.bio.twitter }}">Twitter</a><br>
                        <a href="{{ config.bio.linkedin }}">LinkedIn</a>
                    </address>
                </header>
            </section>

            <section id="ux">
                <h2>Design</h2>
                <ul>
                    {# <li>
                        <a href="">Composable 3D</a>
                    </li> #}
                    <li>
                        <a href="/chrome-vr/">Chrome VR</a>
                    </li>
                    <li>
                        <a href="/aframe/">A-Frame VR</a>
                    </li>
                    <li>
                        <a href="/mozilla-vr/">Mozilla VR</a>
                    </li>
                    <li>
                        <a href="/firefox-os/">Firefox OS</a>
                    </li>
                    <li>
                        <a href="/home-automation/">Home Automation</a>
                    </li>
                    <li>
                        <a href="/stadium-control-center/">Stadium Control Center</a>
                    </li>
                </ul>
            </section>

            <section id="climate">
                <h2>Climate</h2>
                <ul>
                    {%- for post in collections.climate -%}
                        <li>
                            <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </li>
                    {%- endfor -%}
                </ul>
            </section>

            {# <section>
                <h2>Woodworking</h2>
                <ul>
                    <li>
                        <a href="">Desk</a>
                    </li>
                    <li>
                        <a href="">Workbench</a>
                    </li>
                </ul>
            </section> #}

            <section id="work-history">
                <h2>Work History</h2>
                <ul>
                    <li>Google <span class="org">- Staff UX Designer (Daydream)</span></li>
                    <li>Mozilla <span class="org">- UX Lead (VR)</span></li>
                    <li>Mozilla <span class="org">- Interaction Design Lead (Firefox OS)</span></li>
                    <li>New Space Technologies<span class="org">- Creative Director</span></li>
                    <li>Vancouver Film School <span class="org">- Instructor</span></li>
                    <li>Big Green <span class="org">- Senior Designer</span></li>
                </ul>
            </section>

        </main>

        {% include "footer.njk" %}

    </body>
</html>