---json
{
    "type": "website",
    "title": "Josh Carpenter",
    "addTitleSuffix": false,
    "js": [],
    "css": [
        "main.css"
    ]
}
---
<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body>
        <main>
            <section>
                <header>
                    <h2 class="title">{{ config.bio.name }}</h2>
                    <p>UX designer, currently exploring climate in Vancouver, Canada. Previously: UX Lead for WebVR/AR at Google, lead of the Mozilla WebVR team, co-creator of A-Frame, and interaction design lead for Firefox OS.</p>
                    <address>
                        <a href="https://twitter.com/{{ config.bio.twitter }}">Twitter</a><br>
                        <a href="{{ config.bio.linkedin }}">LinkedIn</a>
                    </address>
                </header>
            </section>
            {# <section>
                    <h2>Climate</h2>
                    <p>These are my research notes on climate change. I’m trying to better understand: the nature of the problem; projected impacts, both at the global and Canadian levels; potential solutions; and potential resiliency strategies. Started fall 2019, and ongoing.</p>
                    <h3>Global</h3>
                    <ul>
                        {%- for post in collections.globalProblems -%}
                            <li {% if page.url == post.url %} class="active" {% endif %}>
                                <a href="{{ post.url }}">{{ post.data.title }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                    <h3>Canada</h3>
                    <ul>
                        {%- for post in collections.canadaProblems -%}
                            <li {% if page.url == post.url %} class="active" {% endif %}>
                                <a href="{{ post.url }}">{{ post.data.title }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                    <h3>Solutions</h3>
                    <ul>
                        {%- for post in collections.solution -%}
                            <li {% if page.url == post.url %} class="active" {% endif %}>
                                <a href="{{ post.url }}">{{ post.data.title }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>

                </section> 
            #}
        </main>
    </body>
</html>