<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/js/focus-test.js"></script>
        <style>
            span {
                background-color: gray;
            }

            .focusable:hover {
                background-color: red;
            }

            .focusable:focus {
                background-color: green;
            }

            .testButton {
                background-color: blue;
                color: white;
            }
        </style>
    </head>
    <body>
        <main role="main">
            <article>
                <header id="title-block-header">
                    <h1 class="title">Rising Seas</h1>
                    <address>
                        <a href="https://twitter.com/joshcarpenter">Josh Carpenter</a><br/>
                    </address>
                </header>
                <ul>
                    <li>Test 1</li>
                    <li class="focusable" tabindex="0" id="testItem">TEST ITEM</li>
                    <li>Test 3</li>
                    <li>Test 4</li>
                    <li class="focusable" tabindex="0">Test 5</li>
                </ul>
                <p>
                    <strong>Coastal tide-gauges</strong>
 for prior to 1993. Gathered from a network of gauges around the world. They provide only local sea levels. There are geographical gaps in coverage; more so the further back we go. Collection started in 1675 in Amsterdam. Converting into global mean sea level is done by comparing with overlapping satellite altimeter data, and eliminating regional variations caused by factors such as vertical land motion. 
 <button class="focusable">fn</button>
 Church, John A., & White, Neil J. 
 <a href="http://link.springer.com/10.1007/s10712-011-9119-1">Sea-Level Rise from the Late 19th to the Early 21st Century</a>
 . Surveys in Geophysics. Sep 2011. Retrieved 25 Oct 2019. 
 <button class="focusable">fn</button>
                    <a href="https://en.wikipedia.org/w/index.php?title=Sea_level_rise&amp;oldid=921947329">Sea Level Rise</a>
                    . Wikipedia. 18 Oct 2019. Retrieved 25 Oct 2019.
                </p>
                <p>
                    <strong>Coastal tide-gauges</strong>
 for prior to 1993. Gathered from a network of gauges around the world. They provide only local sea levels. There are geographical gaps in coverage; more so the further back we go. Collection started in 1675 in Amsterdam. Converting into global mean sea level is done by comparing with overlapping satellite altimeter data, and eliminating regional variations caused by factors such as vertical land motion. 
 <button class="focusable">fn</button>
 Church, John A., & White, Neil J. 
 <a href="http://link.springer.com/10.1007/s10712-011-9119-1">Sea-Level Rise from the Late 19th to the Early 21st Century</a>
 . Surveys in Geophysics. Sep 2011. Retrieved 25 Oct 2019. 
 <button class="focusable">fn</button>
                    <a href="https://en.wikipedia.org/w/index.php?title=Sea_level_rise&amp;oldid=921947329">Sea Level Rise</a>
                    . Wikipedia. 18 Oct 2019. Retrieved 25 Oct 2019.
                </p>
                <p>
                    <strong>Coastal tide-gauges</strong>
 for prior to 1993. Gathered from a network of gauges around the world. They provide only local sea levels. There are geographical gaps in coverage; more so the further back we go. Collection started in 1675 in Amsterdam. Converting into global mean sea level is done by comparing with overlapping satellite altimeter data, and eliminating regional variations caused by factors such as vertical land motion. 
 <button class="focusable">fn</button>
 Church, John A., & White, Neil J. 
 <a href="http://link.springer.com/10.1007/s10712-011-9119-1">Sea-Level Rise from the Late 19th to the Early 21st Century</a>
 . Surveys in Geophysics. Sep 2011. Retrieved 25 Oct 2019. 
 <button class="focusable">fn</button>
                    <a href="https://en.wikipedia.org/w/index.php?title=Sea_level_rise&amp;oldid=921947329">Sea Level Rise</a>
                    . Wikipedia. 18 Oct 2019. Retrieved 25 Oct 2019.
                </p>
                <p>
                    <strong>Coastal tide-gauges</strong>
 for prior to 1993. Gathered from a network of gauges around the world. They provide only local sea levels. There are geographical gaps in coverage; more so the further back we go. Collection started in 1675 in Amsterdam. Converting into global mean sea level is done by comparing with overlapping satellite altimeter data, and eliminating regional variations caused by factors such as vertical land motion. 
 <button class="focusable">fn</button>
 Church, John A., & White, Neil J. 
 <a href="http://link.springer.com/10.1007/s10712-011-9119-1">Sea-Level Rise from the Late 19th to the Early 21st Century</a>
 . Surveys in Geophysics. Sep 2011. Retrieved 25 Oct 2019. 
 <button class="focusable">fn</button>
                    <a href="https://en.wikipedia.org/w/index.php?title=Sea_level_rise&amp;oldid=921947329">Sea Level Rise</a>
                    . Wikipedia. 18 Oct 2019. Retrieved 25 Oct 2019.
                </p>
            </article>
        </main>
    </body>
</html>