<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <main role="main">
      <article>
        <h2 id="preface">Preface <a class="header-anchor" href="#preface">¶</a></h2>
        <h3 id="how-do-we-define-sea-level-rise">How do we define “sea level rise”? <a class="header-anchor" href="#how-do-we-define-sea-level-rise">¶</a></h3>
        <figure><img src="../img/GMSL-1900-2010.png" alt="Global mean sea level relative to the 1986–2005. Climate Change 2014: Synthesis Report. Geneva, Switzerland: IPCC. 2015. 41." title="Graph showing rising global mean sea level from 1986-2005">
          <figcaption>Global mean sea level relative to the 1986–2005. <button class="focusable">fn</button><a href="https://www.ipcc.ch/report/ar5/syr/">Climate Change 2014: Synthesis Report</a>. Geneva, Switzerland: IPCC. 2015. 41.</figcaption>
        </figure>
        <p class="hanging-punctuation">“Sea level rise” most commonly refers to changes in the <strong>global mean sea level</strong> (GMSL), which is the mean height of the ocean surface as measured from the center of the earth.</p>
        <p>Estimates of future sea level rise are typically expressed as relative to the mean of the 1986-2000 period. For example, in the following graph showing sea level rise since 1900, the zero point on the Y-axis is the 1986-2000 mean. IPCC projections (e.g. 0.52 - 0.98 m by 2100) are also relative to the 1986-2000 mean.</p>
      </article>
    </main>
  </body>
</html>