<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body data-color-scheme="none">
    {# <body class="{% if force_dark_mode %}force-dark-mode{% endif %}"> #}
        
        <a href="#title" class="visibility-hidden">Skip to content</a>
        {% include "navigation.njk" %}
        
        <main role="main" aria-labelledby="title">

            {{ content | safe }}

        </main>
        {% include "footer.njk" %}
        {% include "lightbox.njk" %}
    </body>
</html>