<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body>
        <a href="#title" class="visibility-hidden">Skip to content</a>
        {% include "header.njk" %}
        <main role="main" aria-labelledby="title">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>