---js
{
    bibliography: "./climate-references.json",
    eleventyComputed: {
        meta: {
            page_title: "{{ title }} - Josh Carpenter, Climate Notes",
            summary: "{{ summary or meta.summary }}",
            image: "{{ image or meta.image }}",
            type: "article"
        }
    },
    css: ["post.css"]
}
---
<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body>
        
        <a href="#title" class="visibility-hidden">Skip to content</a>
        {% include "navigation.njk" %}
        
        <main role="main" aria-labelledby="title">
            
            <article class="content-wrapper" {% if bibliography %}data-bibliography="{{ bibliography }}" {% endif %}>

                {# ------------ Header ------------ #}
                <header class="standard-width">

                    <h1 id="title">{{ title }}</h1>

                    <div id="front-matter">
                        <div class="wrapper">

                            <div id="details" class="small-text">
                            
                                {# Name and Date #}
                                <a href="/" class="author">{{ bio.name }}</a>
                                {# <span class="divider">|</span> #}
                                
                                {# Date #}
                                <time datetime="{{ page.date }}">Updated {{ page.date | date("MMM D YYYY") }}</time>

                                {# Tags #}
                                <ul id="tags">
                                    {% if tags and tags.includes("climate") %}
                                        <li class="tag climate">Climate</li>
                                    {% endif %}
                                    {% if tags and tags.includes("explainer") %}
                                        <li class="tag explainer">Explainer</li>
                                    {% endif %}
                                </ul>
                                
                            </div>

                            <section id="summary"  class="small-text copy">
                                <p>
                                    {{ summary }}
                                    {# {% if tags and tags.includes("climate") %}
                                        <span id="climate-note">This is a climate change explainer. I'm writing these for myself, as I try to better understand the science, impacts and potential solutions of climate change. Each explainer tries to sum up a specific topic, such as sea level rise. All explainers are works in progress.</span>
                                    {% endif %} #}
                                </p>
                            </section>

                        </div>
                    </div>

                </header>

                {# ------------ Body ------------ #}
                <section id="body" class="standard-width copy" aria-label="Article body">
                    {{ content | safe }}
                </section>

                {# ------------ Footnotes ------------ #}
                {% include "footnotes.njk" %}

            </article>

            {# ------------ About the Author ------------ #}
            {% include "about-the-author.njk" %}
        </main>
        {% include "footer.njk" %}
        {% include "lightbox.njk" %}
    </body>
</html>