---js
{
    social: {
        addTags: true,
        type: "article",
    },
    eleventyComputed: {
        metaTitle: "{{ title }} | Josh Carpenter - Portfolio and Notes",
    },
    colors: {
        primary: {
            light: "120, 120, 120", // Plain grey highlight for climate posts
            // dark: "0, 255, 0"
        }
    }
}
---
<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body>
        <a href="#title" class="visibility-hidden">Skip to content</a>
        {% include "header.njk" %}
        <main role="main" aria-labelledby="title">
            <article id="post" class="wide-images">
               
                {# ------------ Header ------------ #}
                <header>

                    {# Title #}
                    {# <a href="/index.html#design" id="category">UX</a> #}
                    <h1 id="title">{{ title }}</h1>

                    {# Metadata #}
                    {# <section id="metadata" aria-label="Metadata">
                        <address>
                            <span class="author">By <a href="https://twitter.com/{{ config.bio.twitter }}">{{ config.bio.name }}</a>. </span>
                        </address>
                        <time datetime="{{ page.date }}">Updated {{ page.date | date("D MMM YYYY") }}</time>
                    </section> #}

                </header>

                {# ------------ Post body ------------ #}
                <section aria-label="Main content body" id="content">
                    {{ content | safe }}
                </section>

            </article>

            {# {% include "related-content.njk" %} #}
            {% include "about-the-author.njk" %}
        </main>
        {% include "footer.njk" %}
    </body>
</html>