---js
{
    date: "Last Modified",
    eleventyComputed: {
        meta_title: "{{ title }} - Josh Carpenter, UX Designer",
    },
    meta_twitter_card_type: 'summary_large_image',
    layout: "base.njk",
    css: ["portfolio.css"]
}
---
<article class="content-wrapper">
    
    {# ------------ Header & Copy ------------ #}
    {{ content | safe }}

    {# ------------ Footnotes ------------ #}
    {% include "footnotes.njk" %}
    
</article>

{# ------------ About the Author ------------ #}
{% include "about-the-author.njk" %}

{# ------------ More Content ------------ #}
{# (Links to other portfolio posts) #}
<section aria-labelledby="more-content-heading" role="region" id="more-content" class="content-wrapper">
    <div class="standard-width">
        <h2 id="more-content-heading">Portfolio</h2>
        <ul>
            {%- for post in collections.portfolio -%}
                {# {% if page.url != post.url %} #}
                    <li>
                        <a href="{{ post.url }}" class="thumb">
                            <img src="{{ post.data.meta_image }}"></img>
                        </a>
                        <div class="caption smaller-text">
                            <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </div>
                    </li>
                {# {% endif %} #}
            {%- endfor -%}
        </ul>
    </div>
</section>
