<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body>

        {% include "header.njk" %}

        <main>
            <article>
                <header>
                    <h1 class="title">{{ title }}</h1>
                    <aside id="metadata">

                        <ul id="tags">
                    
                            {% if tags.includes("vr") %}
                                <li class="tag"><a href="">VR</a></li>
                            {% endif %}

                            {% if tags.includes("ar") %}
                                <li class="tag"><a href="">AR</a></li>
                            {% endif %}

                            {% if tags.includes("web") %}
                                <li class="tag"><a href="">Web</a></li>
                            {% endif %}

                            {% if tags.includes("mobile") %}
                                <li class="tag"><a href="">Mobile</a></li>
                            {% endif %}

                            {% if tags.includes("google") %}
                                <li class="tag"><a href="">Google</a></li>
                            {% endif %}

                            {% if tags.includes("mozilla") %}
                                <li class="tag"><a href="">Mozilla</a></li>
                            {% endif %}
                            
                        </ul>

                        <address>
                            <time datetime="{{ year }}">{{ year }}</time>
                        </address>

                    </aside>
                </header>

                {{ content | safe }}

                {# {% include "related-content.njk" %} #}
                
                {# {% include "about-the-author.njk" %} #}

                {% include "footer.njk" %}

            </article>
        </main>
    </body>
</html>