<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{ author.name }}"/>
        <meta name="dcterms.date" content="{{ date }}"/>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <main role="main">
            <article>
                <header id="title-block-header">
                    <h1 class="title">{{ title }}</h1>
                    <address>
                        <a href="{{ author.twitter }}">{{ author.name }}</a><br/>
                        <time datetime="{{ date }}">{{ date | date("D MMM YYYY") }}</time>
				    </address>
                </header>
                {{ content | safe }}
            </article>
        </main>
    </body>
</html>
