<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# <meta name="author" content="{{ josh.name }}"/> #}
        {# <meta name="copyright" content="Copyright © {{ date | date("YYYY") }}, {{ josh.name }}" /> #}
        {# <meta name="dcterms.date" content="{{ date }}"/> #}
        {# <title>{{ title }}</title> #}
        <link rel="stylesheet" href="/styles/style.css">
        {# <link rel="stylesheet" href="/styles/prism/prism-duotone-light.css" /> #}
        {# <script type="text/javascript" src="/js/fit-images.js"></script> #}
        {# <script type="text/javascript" src="/js/hover-citation.js"></script> #}
        {# <script type="text/javascript" src="/js/toggle-grid.js"></script> #}
    </head>
    <body>
        <main role="main">
            <article>                
                {{ content | safe }}
            </article>
        </main>
    </body>
</html>
