---js
{
    date: "Last Modified",
    eleventyComputed: {
        meta_title: "{{ title }} - Josh Carpenter, Portfolio & Notes",
    },
    colors: {
        accent: {
            light: "21, 170, 255", // Vibrant blue
            dark: "21, 170, 255", // Vibrant blue
        }
    },
    meta_twitter_card_type: 'summary_large_image',
    layout: "base.njk",
    css: ["portfolio.css"]
}
---
<article class="content-wrapper">

    {# ------------ Header & Copy ------------ #}
    {{ content | safe }}

    {# ------------ Footnotes ------------ #}
    {% include "footnotes.njk" %}

</article>

{# ------------ About the Author ------------ #}
{% include "about-the-author.njk" %}
