---yaml
title: "Desk"
tags: ["project"]
publish: true
summary: "A desk I built in summer 2021 for our home office space, and to learn the basics of building furniture with hand tools."
meta_image: "img/desk-meta.png"
permalink: "/desk/"
date: 2021-12-21
---

{# ------------ Header ------------ #}

<header class="standard-width grid-12">
    <h1 id="title">{{ title }}</h1>
    <div class="intro large-text">
        <p>
            I built this desk in summer 2021 using primarily hand tools and a design adapted from <a href="https://www.dinesen.com/en/products/dinesen-collection/table/">Dinesen</a>. I'd wanted to learn to build furniture within the space and noise constraints of a city apartment for several years, and when we moved into a new apartment with space for both a home office and woodworking, I had my opportunity. The project took about 4 months in total: from buying tools to building a <a href="https://blog.lostartpress.com/2018/02/22/ingenious-mechanicks-chapter-by-chapter/">workbench</a>, to making the desk. I'm quite happy with the results. It's a bit rickety when moved, and the soft Douglas Fir is prone to dents, but it's wonderful having a desk built exactly to our needs, and we love the look of it.
        </p>
    </div>
    <div class="metadata small-text">
        <time>Summer 2021</time><br>
        Vancouver, BC
    </div>
</header>


{# ------------ Body ------------ #}

<section id="body" class="standard-width copy" aria-label="Article body">    

    <div>
        <img src="img/desk-final-3.png" data-lightbox></img>
        <p class="caption small-text">The top is 71 x 180 cm; large enough for two people to comfortably work at.</p>
    </div>

    <div class="grid-12 body-text">
        <p class="cols-left-half">
            I selected the <a href="https://www.dinesen.com/en/products/dinesen-collection/table/">Dinesen</a> as my reference design because it was both beautiful, and relatively simple in construction. I love how it elegantly creates visual interest from relatively simple joinery and a small number of pieces. Long apron boards poke out the end slightly, legs and apron overlap, etc. My favorite detail is the way the top floats slightly above the base.
        </p>
    </div>

    <div>
        <div class="grid-2">
            <div class="">
                <img src="img/desk-legs-1.png" data-lightbox></img>
            </div>
            <div class="">
                <img src="img/desk-legs-2.png" data-lightbox></img>
            </div>
        </div>
        <p class="caption small-text">Simple but effective visual interest is created by extending and/or intersecting the boards.</p>
    </div>

    <div class="grid-12 body-text">
        <p class="cols-left-half">
            After learning about the pros and cons of various species of wood, I chose to use Douglas Fir. I love the look of it, and as a softwood it promised to be easy to work with (as opposed to hardwoods like oak). Fir is also relatively sustainable: it's fast-growing and found in abundance in my home province of British Columbia. Using a common species enabled me to source my stock from Home Depot, carefully picking through stacks to find boards without knots, cups or bows.
        </p>
    </div>

    {# <div>
        <img src="img/desk-final-3.png" data-lightbox></img>
        <p class="caption small-text">The top is 71 x 180 cm; large enough for two people to comfortably work at.</p>
    </div> #}

    <div>
        <div class="grid-2">
            <div class="">
                <img src="img/desk-wip-legs-1.png" data-lightbox></img>
            </div>
            <div class="">
                <img src="img/desk-wip-legs-2.png" data-lightbox></img>
            </div>
        </div>
        <p class="caption small-text"><strong>Legs</strong>: Squaring 2x6 boards then glueing into pairs to create thick post legs.</p>
    </div>

    <div class="grid-12 body-text">
        <p class="cols-left-half">
            Construction was a serious challenge. I quickly realized that I'd made my life difficult by choosing to build a large piece of furniture (versus, say, a stool). Large size + inexperience + perfectionism were a dangerous combination. I'd been careful to choose good boards, but they still needed to be squared up where edges met, at a minimum. Without an electric planer or jointer, this was done by hand, using a <a href="https://www.stanleytools.com/products/hand-tools/cutting-tools/planes/no-62-sweetheart-low-angle-jack-plane/12-137">Stanley jack plane</a>, and some mediocre clamping arragements on my (too small) workbench.
        </p>
    </div>

    <div>
        <img src="img/desk-cauls.png" data-lightbox></img>
        <p class="caption small-text">Making <a href="https://www.finewoodworking.com/2011/03/08/clamping-cauls-the-secret-to-great-glue-ups">cauls</a> to help align the boards of the top when they are glued up.</p>
    </div>

    <div class="grid-12 body-text">
        <p class="cols-left-half">
            In some cases, tools needed to be made from scratch before work could progress. A workbench was the first thing that was built. I needed a surface on which I could do everything from sawing to planing, and that would fit within the space constraints of our apartment's patio and storage locker. After much research I went with a low <a href="https://blog.lostartpress.com/2018/02/22/ingenious-mechanicks-chapter-by-chapter/">roman workbench</a>. 
        </p>
    </div>

    <div>
        <div class="grid-2">
            <div class="">
                <img src="img/desk-wip-top-1.png" data-lightbox></img>
            </div>
            <div class="">
                <img src="img/desk-wip-top-2.png" data-lightbox></img>
            </div>
        </div>
        <p class="caption small-text"><strong>Top</strong>: Edge jointing 7" boards then glueing into a panel.</p>
    </div>

    <div class="grid-12 body-text">
        <p class="cols-left-half">
            The top was created from four 7" boards. The edges were first made square by <a href="https://brfinewoodworking.com/edge-jointing-using-the-match-planing-method/">match planing</a>. Because of their size, this needed to be done using the bench surface as a giant <a href="https://en.wikipedia.org/wiki/Shooting_board">shooting board</a>. The prepped boards were then glued into a single panel using pipe clamps and <a href="https://www.finewoodworking.com/2011/03/08/clamping-cauls-the-secret-to-great-glue-ups">cauls</a>. 
        </p>
    </div>

    <div>
        <div class="grid-2">
            <div class="">
                <img src="img/desk-joinery-2.png" data-lightbox></img>
            </div>
            <div class="">
                <img src="img/desk-joinery-1.png" data-lightbox></img>
            </div>
        </div>
        <p class="caption small-text"><strong>Joinery</strong>: Legs are fixed to apron with drawbore mortice and tenon (two dowels and glue).</p>
        {# Long apron attaches to apron with threaded inserts and allen key bolts for easy disassembly #}
    </div>

    <div>
        <img src="img/desk-c4d.png" data-lightbox></img>
        <p class="caption small-text">I used Cinema 4D to plan the layout and measurements.</p>
    </div>

    <div class="grid-12 body-text">
        <p class="cols-left-half">
            I'm happy with the end result. I was able to build a piece of furniture that we love the look of, that fits both our needs and our available space perfectly, and I picked up a bunch of useful skills along the way. I wish it hadn't taken as long as it did, and if I had to do it again I'd probably use a wood that's less prone to denting, but overall I'm very pleased with this as a first project.
        </p>
    </div>

    <div>
        <img src="img/desk-in-situ-1.png" data-lightbox></img>
        <p class="caption small-text">The finished desk sitting in our home office space, facing east.</p>
    </div>

</section>
