---yaml
title: "Mobile Work Setup"
tags: ["project"]
publish: true
summary: "A backpack-friendly dual-monitor setup I put together to enable working on the go from coworking spaces and coffee shops without sacrificing screen real estate."
meta_image: "/img/mobile-work/meta.png"
permalink: "/mobile-work-setup/"
date: 2021-12-21
---

{# ------------ Header ------------ #}

<header class="standard-width copy grid-12">
    <h1 id="title">{{ title }}</h1>
    <div class="intro large-text">
        <p>
            In 2019 I left Google and moved back to Canada to work on a series of personal projects. After sitting in offices for 7 years, I loved the freedom of working from coffee shops, coworking spaces, etc. The only problem was screen real estate. For programming, motion graphics, design (etc) I needed more than just a single laptop display. So I started to look into portable monitors. I wanted a setup that would fit into a backpack, be comfortable to work at for long sessions, have excellent display quality, and be tidy (e.g. minimal cable clutter). After trying a few different approaches, I came up with the following.
        </p>
    </div>
    <div class="metadata small-text">
        <time>Summer 2019</time>,<br>
        Vancouver, BC
    </div>
</header>


{# ------------ Body ------------ #}

<section id="body" class="standard-width copy" aria-label="Article body">    

    <div>
        <img src="/img/mobile-work/saltspring-1.png" data-lightbox></img>
        <p class="caption-clr small-text">Working outside on a fall day in <a href="https://en.wikipedia.org/wiki/Salt_Spring_Island">Saltspring Island</a>, British Columbia.</p>
    </div>

    <div class="grid-12 no-row-gap">
        <p class="cols-left-half body-text">
            A 15" MacBook Pro sits on an <a href="https://www.ulanzi.com/products/u-pad-pro-tablet-tripod-mount-ulanzi">Ulanzi tablet tripod mount</a>, which in turn sits on a compact <a href="https://momanx.com/products/mp-tr1c-bk?_pos=2&_sid=86c387718&_ss=r">Moman tripod with swiveling ball head</a>. The tablet tripod mount has been modified slightly so that it provides a flat surface for the laptop to sit on, instead of the default clamping configuration. It attaches to the ballhead at a 45" angle. When the MacBook Pro is opened as far as it will go, the display is vertical, and the keyboard faces the user at an angle. 
        </p>
    </div>

    <div>
        <div class="grid-2">
            <div class="">
                <img src="/img/mobile-work/front-1.png" data-lightbox></img>
            </div>
            <div class="">
                <img src="/img/mobile-work/front-2.png" data-lightbox></img>
            </div>
        </div>
        <p class="caption-clr small-text">The portable monitor lies on the laptop keyboard. It's quick and easy to glance up-down between displays.</p>
    </div>

    <div class="grid-12 body-text no-row-gap">
        <p class="cols-left-half">
            The portable monitor then sits over the laptop keyboard. It connects to the MacBook Pro through a single USB-C cable, which provides both signal and power. To help minimize clutter, I found a a short <a href="https://www.amazon.ca/zdyCGTime-Extension-Connector-Notebooks-Smartphones/dp/B07SPRGBSL">angled USB-C cable</a>. The monitor stays in place with the help of attached grippy feet on the bottom (which also help create airflow between monitor and underlying laptop), and a janky metal clamp at the bottom of the tripod mount. I ended up buying two portable monitors: first, a 1080p <a href="https://asus.com/ca-en/Monitors/MB169C-plus/">Asus MB169C+</a> (discontinued?). It worked well but died in a fall. It was replaced with a fancier 4K model from <a href="https://desklabmonitor.com">DeskLab</a>. 
        </p>
        <p class="cols-left-half">
            In this configuration, the user faces two 15" displays, one above the other. I was surprised how much I loved this vertical arrangement. Switching focus is as simple as glancing up-down, instead of having to turn the head left-right across two wide displays (as in traditional dual monitor setups). And the user's peripheral vision is preserved, so you can see and be inspired by your surroundings, instead of boxed in by a wall of large monitors (a personal pet peeve). In MacOS  multiple monitors can be arranged using System Preferences > Displays > Arrangement.
        </p>
    </div>

    <div>
        <div class="grid-2">
            <div class="">
                <img src="/img/mobile-work/back-1.png" data-lightbox></img>
            </div>
            <div class="">
                <img src="/img/mobile-work/back-2.png" data-lightbox></img>
            </div>
        </div>
        <p class="caption-clr small-text">The laptop sits on a modified tablet mount. It's a bit precarious, but works.</p>
    </div>

    <div class="grid-12 body-text">
        <p class="cols-left-half">
            This setup takes me less than a minute to setup, and fits comfortably into my backpack (a <a href="https://evergoods.us/products/civic-panel-loader-24l-v2">CPL24</a> from <a href="https://evergoods.us/">Evergoods</a>, which I highly recommend). Weight is non-trivial (ballpark: 800g display, 261g tripod, 430g ball head, 250g tablet mount, 1830 grams MacBook Pro, plus portable   keyboard, mouse, charger, etc), but it's comfortable enough for my 40 minute daily walking commutes (pre-Covid).
        </p>
    </div>

    <div>
        <div class="grid-2">
            <div class="">
                <img src="/img/mobile-work/laptop-only-2.png" data-lightbox></img>
            </div>
            <div class="">
                <img src="/img/mobile-work/laptop-only-1.png" data-lightbox></img>
            </div>
        </div>
        <p class="caption-clr small-text">Laptop and tripod, without second monitor. Keyboard is a <a href="http://www.vortexgear.tw/vortex2_2.asp?kind=47&kind2=225&kind3=&kind4=1044">Vortex Race 3</a>.</p>
    </div>

    <div class="grid-12 body-text">
        <p class="cols-left-half">
            Unfortunately Covid and reliability issues put an end to this configuration. I stopped working from co-working spaces or coffee shops, and then the Desklab 4K died. I unfortuantely was not surprised. Desklab had started as a popular <a href="https://www.kickstarter.com/projects/desklabmonitor/desklab-ultralight-portable-4k-touchscreen-monitor">Kickstarter</a>, but become notorious among furious backers for endless shipping delays, quality control issues, and evasiveness. As of December 2021 I imagine there are better USB-C 4K portable monitor options on the market from more reliable companies. Or there's also the option of using an iPad (either via the first-party Sidecar feature, or a <a href="https://astropad.com/product/lunadisplay/">Luna Display</a>). It would cost much more than an external monitor and be smaller (12.9" for the iPad Pro), but have far better image quality, and much more versatility (pencil, etc).
        </p>
    </div>

</section>